<div class="page-container">

	<br />
	<br />
	<div class="col-sm-8 col-sm-offset-2">

		<div class="row">
			<div class="col-sm-12">
				<h3>Menu configuration</h3>
			</div>
			<div class="col-sm-8">
				<h4>Items</h4>
				<div mnd-menu-editor items="menuConfig.items"></div>
			</div>
		</div>



		<br />
		<br />
		<div class="row">
			<div class="col-sm-12">
				<h3>Home configuration</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h4>Sprinkle text</h4>
				<textarea class="form-control" rows="4" ng-model="homeConfig.sprinkleText"></textarea>
			</div>
			<div class="col-sm-6">
				<h4>Banner</h4>
				<div class="mnd-input-vertical-group">
					<input type="text" class="form-control" ng-model="homeConfig.banner.title" placeholder="Title" />
					<input type="text" class="form-control" ng-model="homeConfig.banner.date" placeholder="Date" />
					<input type="text" class="form-control" ng-model="homeConfig.banner.text" placeholder="Text" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h4>Payoff</h4>
				<div class="mnd-input-vertical-group">
					<input type="text" class="form-control" ng-model="homeConfig.payoff.firstLine" placeholder="First line" />
					<input type="text" class="form-control" ng-model="homeConfig.payoff.secondLine" placeholder="Second line" />
				</div>
			</div>
		</div>



		<br />
		<br />
		<h3>AmazonS3 configuration</h3>
		<div class="form-group">
			<label>Post URL (to upload)</label>
			<input type="text" class="form-control" ng-model="amazonS3Config.postUrl" />
		</div>
		<div class="form-group">
			<label>Get URL (to download)</label>
			<input type="text" class="form-control" ng-model="amazonS3Config.getUrl" />
		</div>



		<br />
		<br />
		<h3>Signup email templates configuration</h3>
		<div class="form-group">
			<label>Site name</label>
			<input type="text" class="form-control" ng-model="signupEmailTemplatesConfig.siteName" />
		</div>
		<div class="form-group">
			<label>From</label>
			<input type="text" class="form-control" ng-model="signupEmailTemplatesConfig.from" />
		</div>
		<h4>Verify email</h4>
		<div class="form-group">
			<label>Subject</label>
			<input type="text" class="form-control" ng-model="signupEmailTemplatesConfig.verifyEmail.subject" />
		</div>
		<div class="form-group">
			<label>Body</label>
			<textarea class="form-control" ng-model="signupEmailTemplatesConfig.verifyEmail.text"></textarea>
		</div>



	</div>
</div>
