<div class="pomodoro-page-container">
	<div class="pomodoro-left-pane">
	</div>
	<div class="pomodoro-right-pane">
		<br />
		<div class="col-sm-9 col-sm-offset-1">
			<div mnd-pomodoro-timer size="200" pomodoro="pomodoro"></div>

			<br />
			<button type="button" class="btn btn-default mnd-width-80" ng-click="plusFiveMinutes()">+ 5 min</button>
			<button type="button" class="btn btn-default mnd-width-80" ng-click="minusFiveMinutes()">- 5 min</button>
			<br />
			<button type="button" class="btn btn-default mnd-width-80" ng-if="pomodoro.status === 'paused'" ng-click="start()">Start</button>
			<button type="button" class="btn btn-default mnd-width-80" ng-if="pomodoro.status === 'running'" ng-click="pause()">Pause</button>
			<button type="button" class="btn btn-default mnd-width-80 pull-right" ng-click="stop()">Stop</button>

			<br />
			<br />
			<div ng-repeat="participant in pomodoro.participants">
				<div class="mnd-inline-block" mnd-cig-image source="participant.pictureUrl" size="50"></div>
				<span>{{participant.name}}</span>
			</div>

			<br />
			<br />
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Invite" mnd-user-input user-model="participant" />
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="addParticipant()">Add</button>
				</span>
			</div>
		</div>
	</div>

</div>


