<div class="row" ng-repeat="activity in coin.activities" mnd-disable-inputs="frozen || coin.frozen">
	<div class="col-xs-6">
		<ui-select ng-model="activity.projectId" theme="bootstrap">
			<ui-select-match placeholder="Search projects">
				{{$select.selected.name}}
			</ui-select-match>
			<ui-select-choices repeat="project._id as project in projects | filter:{name: $select.search}">
				<span ng-bind-html="project.name | highlight: $select.search"></span>
			</ui-select-choices>
		</ui-select>
	</div>
	<div class="col-xs-4">
		<input type="number" ng-model="activity.timeSpent" class="form-control" placeholder="Time spent" />
	</div>
	<div class="col-xs-2">
		<i class="fa fa-minus mnd-clickable" ng-click="coin.activities.splice($index, 1)"></i>
	</div>
	<br />
	<br />
</div>
<div class="row" ng-if="!frozen && !coin.frozen">
	<div class="col-xs-2 col-xs-offset-10">
		<i class="fa fa-plus mnd-clickable" ng-click="coin.activities.push({})"></i>
	</div>
</div>
