{
    "arrowParens": "avoid",
    "proseWrap": "always",
    "tabWidth": 4,
    "trailingComma": "none",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
