<li>
	<a ng-if="!edit" href="{{map.href}}">{{map.text}}</a>
	<input ng-if="edit" type="text" ng-model="map.text" placeholder="Text" />
	<input ng-if="edit" type="text" ng-model="map.href" placeholder="Url" />
	<i ng-if="edit && child" class="fa fa-times mnd-clickable" ng-click="autodestroy()"></i>
	<i ng-if="edit" class="fa fa-plus mnd-clickable" ng-click="addChild()"></i>
	<ul ng-show="map.children.length">
		<div ng-repeat="child in map.children" mnd-mind-map-recursive map="child" edit="edit" child="true"></div>
	</ul>
</li>
