
<!--<div class="mm-wrapper">
	<div class="mm-children">
		<div ng-repeat="child in map.children" ng-style="getStyle(map)" mnd-mind-map map="child" edit="edit" child="true" level="level + 1"></div>
	</div>
	<div class="mm-parent">
		<a href="{{map.href}}">{{map.text}}</a>
		<input ng-if="edit" type="text" ng-model="map.text" placeholder="Text" />
		<input ng-if="edit" type="text" ng-model="map.href" placeholder="Url" />
		<i ng-if="edit && child" class="fa fa-times mnd-clickable" ng-click="autodestroy()"></i>
		<i ng-if="edit" class="fa fa-plus mnd-clickable" ng-click="addChild()"></i>
	</div>
</div>-->
