	.mnd-mindmap {
		position: absolute;
		height: 50%;
		overflow: hidden;
		min-width: 100%;
	}
@media (min-width: 768px) {
	/*Now the CSS*/
	.black-connections .tree ul ul::before,.black-connections .tree li a, .black-connections .tree li:last-child::before, .black-connections .tree li:last-child::before, .black-connections .tree li::before, .tree li::after, .black-connections .tree li::after
		{
			
			border-color:#000;
		}
	

	.tree {
		position: absolute;
	}

	.tree * {margin: 0; padding: 0;}

	.tree ul {
		padding-top: 20px; position: relative;
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	}

	.tree li {
		float: left; text-align: center;
		list-style-type: none;
		position: relative;
		padding: 7px 0px 0 3px;
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	}
	.tree input {
		display: block;
		margin: auto;
		width: 100px;
	}

	/*We will use ::before and ::after to draw the connectors*/

	.tree li::before, .tree li::after{
		content: '';
		position: absolute; top: 0; right: 50%;
		border-top: 2px solid #fff;
		width: 50%; height: 20px;
	}
	.tree li::after{
		right: auto; left: 50%;
		border-left: 2px solid #fff;
	}

	/*We need to remove left-right connectors from elements without 
	any siblings*/
	.tree li:only-child::after, .tree li:only-child::before {
		display: none;
	}

	/*Remove space from the top of single children*/
	.tree li:only-child{ padding-top: 0;}

	/*Remove left connector from first child and 
	right connector from last child*/
	.tree li:first-child::before, .tree li:last-child::after{
		border: 0 none;
	}
	/*Adding back the vertical connector to the last nodes*/
	.tree li:last-child::before{
		border-right: 2px solid #fff;
		border-radius: 0 5px 0 0;
		-webkit-border-radius: 0 5px 0 0;
		-moz-border-radius: 0 5px 0 0;
	}
	.tree li:first-child::after{
		border-radius: 5px 0 0 0;
		-webkit-border-radius: 5px 0 0 0;
		-moz-border-radius: 5px 0 0 0;
	}

	/*Time to add downward connectors from parents*/
	.tree ul ul::before{
		content: '';
		position: absolute; top: 0; left: 50%;
		border-left: 2px solid #fff;
		width: 0; height: 20px;
	}

	.tree li a{
		border: 2px solid #fff;
		padding: 5px 10px;
		text-decoration: none;
		background-color: #fff;
		color: #666;
		font-family: arial, verdana, tahoma;
		font-size: 15px;
		display: inline-block;
		
		border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	}

	/*Time for some hover effects*/
	/*We will apply the hover effect the the lineage of the element also*/
	.tree li a:hover, .tree li a:hover+ul li a {
		background: #c8e4f8; color: #000; border: 2px solid #94a0b4;
	}
	/*Connector styles on hover*/
	.tree li a:hover+ul li::after, 
	.tree li a:hover+ul li::before, 
	.tree li a:hover+ul::before, 
	.tree li a:hover+ul ul::before{
		border-color:  #fff;
	}
}
@media (max-width: 767px) {
	.tree{
		height: 100%;
		margin-left: 0px!important;
		padding-top: 1%;
		text-align: right;
		display: table;
	}
	.tree ul, .tree ul ul {
		display: flex;
		padding-left: 0px;
		float: left;
		list-style-type: none;
		vertical-align: middle;
	}
	.tree ul, .tree ul ul, .tree ul li, .tree ul li ul{
		display: flex;
		flex-shrink: 3;
	}
	.tree ul li a {
		width: 130px;
		height: 60px;
		margin-right: 10px;
		margin-bottom: 10px;
		padding-top: 18px;
		padding-right: 6px;
		padding-left: 35px;
		float: left;
		color: #fff;
		font-size: 13px;
		text-align: right;
		word-break: break-all;
		background-image: url(http://s3.amazonaws.com/mnd-website/img/tag.png);
		background-size: cover;
	}
}
