<!--
<div mnd-modal header="Add task" open="modalStatus.addTask">
	<div ng-controller="AddTaskModalController">
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" placeholder="Name" ng-model="task.name" />
		</div>

		<div class="form-group">
			<label>Estimated pomodoros</label>
			<input type="number" class="form-control" ng-model="task.pomodoros" />
		</div>

		<div>
			<label>Description</label>
			<textarea class="form-control" rows="4" placeholder="Description" ng-model="task.description"></textarea>
		</div>

		<br />
		<label>Tags</label>
		<div mnd-tags tags="task.tags" placeholder="Add tag"></div>
		<br />

		<div class="form-group">
			<label>Day</label>
			<input type="datetime" date-time max-view="date" min-view="date" format="yyyy-MM-dd" class="form-control" ng-model="task.date" />
		</div>
		
		<label>Participants</label>
		<div class="participant-list" ng-repeat="participant in task.participants">
			<div class="mnd-inline-block mnd-valign-middle" mnd-cig-image source="participant.pictureUrl" size="30"></div>
			<span>{{participant.name}}</span>
		</div>

		<div class="input-group">
			<input type="text" class="form-control" placeholder="Add participant" mnd-user-input user-model="participant.model" />
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="addParticipant()">
					<i class="fa fa-plus"></i>
				</button>
			</span>
		</div>

		<br />
		<button type="button" class="btn btn-default" ng-click="addTask()">
			Add
		</button>
		<button type="button" class="btn btn-default" ng-click="modalStatus.addTask = false">
			Cancel
		</button>
	</div>
</div>
-->



<div class="today-page-container radial-background">

	<div class="mnd-vsp-64"></div>

	<div class="today-container col-sm-3 col-sm-offset-1">

		<div class="input-group">
			<input type="text" class="form-control" placeholder="Add task" ng-model="newTask.name" mnd-enter="addTask()" />
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="addTask()">
					<i class="fa fa-plus"></i>
				</button>
			</span>
		</div>

		<br />
		<div class="tasks-container" ng-if="tasks.length !== 0" ui-tree>
			<ol ui-tree-nodes="" ng-model="tasks">
				<li ng-repeat="task in tasks" ui-tree-node>
					<div ng-click="selectTask(task._id)" class="task-summary task-status-{{task.status}}">
						<div ui-tree-handle class="left-border" mnd-color-me="{{getDayFromDate(task.date)}}"></div>
						<div class="pomodoros-container">
							<div class="mnd-pomodoro-icon">{{task.pomodoros.length}}</div>
						</div>
						<div class="name-container">
							{{task.name}}
						</div>
						<div class="tags-container">
							<span ng-repeat="tag in task.tags" class="mnd-pomodoro-tag label label-default">{{tag}}</span>
						</div>
						<div class="task-shared" ng-show="task.participants.length > 1">
							<i class="fa fa-users"></i>
						</div>
						<!-- WAIT UNTIL RE-DRAWING PROBLEM IS RESOLVED
						<div class="participants-container">
							<span ng-repeat="participant in task.participants">
								<div mnd-cig-image source="participant.pictureUrl" size="30" class="mnd-inline-block"></div>
							</span>
						</div>
						-->
					</div>
				</li>
			</ol>
		</div>
	</div>

	<div ng-if="selectedTaskId" ng-controller="SelectedTaskController">
		<div class="current-task col-sm-7">
			<div class="h1 simplebox" mnd-medium-editor content="selectedTask.name" options="nameEditorOptions"></div>
			<button type="delete button" class="pomodoro-delete btn btn-danger" ng-click="deleteTask()">Delete</button>
			<span class="mnd-width-40 mnd-valign-middle" ng-repeat="participant in selectedTask.participants">
				<div class="mnd-inline-block" mnd-cig-image source="participant.pictureUrl" size="35"></div>
			</span>
			<div mnd-pomodoro-timer class="running-pomodoro mnd-inline-block" pomodoro="uncompletedPomodoros()[0]" task-id="{{selectedTask._id}}"></div>
			<div class="task-info row">
				<div class="col-sm-6">
					<div ng-if="uncompletedPomodoros()[0]" class="task-controls col-sm-12 text-center">
						<div class="btn-group mnd-inline-block">
							<button type="button" ng-if="uncompletedPomodoros()[0].status !== 'running'" class="btn btn-default" ng-click="start()"><i class="fa fa-play"></i></button>
							<button type="button" ng-if="uncompletedPomodoros()[0].status === 'running'" class="btn btn-default" ng-click="pause()"><i class="fa fa-pause"></i></button>
							<button type="button" class="btn btn-default" ng-click="abort()"><i class="fa fa-times"></i></button>
						</div>
						<div class="mnd-pomodoro-icon mnd-clickable mnd-inline-block" ng-click="addPomodoro()">
							<i class="fa fa-plus"></i>
						</div>
					</div>
					<div class="col-sm-6 task-status">
						<label>Status</label>
						<label class="btn btn-primary" ng-model="selectedTask.status" btn-radio="'todo'" uncheckable>To do</label>
						<label class="btn btn-warning" ng-model="selectedTask.status" btn-radio="'progress'" uncheckable>Running</label>
						<label class="btn btn-success" ng-model="selectedTask.status" btn-radio="'done'" uncheckable>Done</label>
					</div>
					<div class="col-sm-6">	
						<div class="counted-pomodoros">
							<span>Estimated :</span> <b>{{selectedTask.pomodoros.length}}</b><div class="mnd-pomodoro-icon-small"></div>
						</div>
						<div class="counted-pomodoros">
							<span>Done :</span> <b>{{donePomodoros()}}</b><div class="mnd-pomodoro-icon-small"></div>
						</div>
						<div class="counted-pomodoros">
							<span>Remaining :</span> <b>{{remainingPomodoros()}}</b><div class="mnd-pomodoro-icon-small"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<label>Tags</label>
					<div mnd-tags tags="selectedTask.tags" placeholder="Add tag"></div>

					<br />
					<label>Participants</label>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Invite" mnd-user-input user-model="participant.model" />
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="addParticipant()">
								<i class="fa fa-plus"></i>
							</button>
						</span>
					</div>

					<br />
					<div class="form-group">
						<label>Date</label>
						<input type="datetime" date-time max-view="date" min-view="date" format="yyyy-MM-dd" class="form-control" ng-model="date.task" />
					</div>
				</div>
			</div>

			<br />
			<div class="col-sm-12">
				<h3><b>Notes</b></h3>
				<div class="task-notes simplebox" mnd-medium-editor content="selectedTask.description" options="descriptionEditorOptions"></div>
			</div>
		</div>
		

	</div> 

</div>
