#post-edit-image-upload i {
	color: #aeaeac;
	font-size: 70px;
	cursor: pointer;
}

#post-edit-image-upload-progressbar * {
	height: 10px;
}

#post-edit-image-upload-progressbar .progress-bar {
	background-color: #aeaeac;
}

#post-edit-image-upload-abort i {
	position: relative;
	top: -6px;
	color: #aeaeac;
	cursor: pointer;
}
.post-cant-edit {
	position: relative;
	top: 20%;
	width: 100%;
	height: 50%;
	padding: 20px;
	font-size: 40px;
	text-align: center;

}
.grey-border {
	height: 50%!important;
	border: 5px solid grey;
	background-color: rgba(255, 255, 255, 0.4);
}
.modal-background {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index:1000;
}
#delete-post-modal {
	width: 400px;
	text-align: center;
}
#delete-post-modal .modal-header {
	font-size: 25px;
}
#delete-post-modal button {
	width: 50px;
	font-size: 120%;
}
.btn.btn-default.yes {
	background-color: #FA5858;
}
.btn.btn-default.yes:hover {
	background-color: #FE2E2E;
}
.btn.btn-default.no {
	background-color: #81F781;
}
.btn.btn-default.no:hover {
	background-color: #01DF01;
}

.extraToolbar {
	display: none;
	position: absolute;
}

.extraToolbar ul {
	display: block;
}

.bodyImageProgressbar,
.bodyImageProgressbar * {
	height: 10px;
}

.bodyImageProgressbar .progress-bar {
	background-color: #aeaeac;
}

.bodyImageLeft {
	width: 50%;
	float: left;
}

.bodyImageCenter {
	width: 100%;
}

.bodyImageRight {
	width: 50%;
	float: right;
}
