.channel-left-side {
	width: calc(50% - 50px);
	height: 100%;
	position: absolute;
	top: 0px;
	left: 100px;
	background: lighten(#ff0000, 20%);
}

.channel-right-side {
	width: calc(50% - 50px);
	height: 100%;
	position: absolute;
	left: calc(50% + 50px);
	background: lighten(#00ff00, 20%);
}

.file-upload-icon-lg {
	font-size: 70px;
	cursor: pointer;
	opacity: 0.7;
}
.file-upload-icon-lg:hover {
	opacity: 0.8;
}

.channel-image-upload-progressbar,
.channel-image-upload-progressbar *,
.entry-file-upload-progressbar,
.entry-file-upload-progressbar * {
	height: 10px;
}

.channel-image-upload-progressbar .progress-bar,
.entry-file-upload-progressbar .progress-bar {
	background-color: #aeaeac;
}

.channel-main-image {
	position: absolute;
	width: 100%;
}
