.table-calendar {
	thead {
		tr {
			th {
				width: (100% / 7);
				height: 60px;
				vertical-align: middle;
				text-align: center;
			}
		}
	}
	tbody {
		tr {
			td {
				vertical-align: middle;
				text-align: center;
				padding-top: 5px;
				padding-bottom: 5px;
				padding-left: 10px;
				padding-right: 10px;
				div {
					position: relative;
					line-height: 70px;
					i {
						position: absolute;
						bottom: 10px;
						right: 10px;
					}
				}
			}
		}
	}
}
