<!-- Day editing modal -->
<div mnd-modal header="Coin card" open="modalStatus.day">
	<div ng-controller="CoinModalController">
		<h4>{{printDay()}}</h4>
		<br />
		<div mnd-coin coin="coin" frozen="coin.frozen"></div>
		<br />
		<button type="button" class="btn btn-default" ng-if="!isUpdate && !coin.frozen" ng-click="insertCoin()">
			Save
		</button>
		<button type="button" class="btn btn-default" ng-if="isUpdate && !coin.frozen" ng-click="updateCoin()">
			Save
		</button>
		<button type="button" class="btn btn-default" ng-if="isUpdate && !coin.frozen" ng-click="removeCoin()">
			Delete
		</button>
		<button type="button" class="btn btn-default pull-right" ng-click="modalStatus.day = false">
			Close
		</button>
	</div>
</div>

<div class="page-container">
	<div class="container-fluid">
		<br />
		<div class="row" ng-if="isInRole('coin-manager')">
			<div class="col-xs-4 col-xs-offset-2">
				<ui-select ng-model="userId" on-select="setSelectedUser($item)" theme="bootstrap">
					<ui-select-match placeholder="User">
						{{$select.selected.profile.name}}
					</ui-select-match>
					<ui-select-choices repeat="user._id as user in users | filter:$select.search">
						<span ng-bind-html="user.profile.name | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-xs-2 col-xs-offset-2 text-right">
				<button type="button" class="btn btn-default" ng-click="export()">
					Export CSV
				</button>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-xs-1 col-xs-offset-2">
				<i class="fa fa-angle-left fa-32 pull-left mnd-clickable" ng-click="previousMonth()"></i>
			</div>
			<div class="col-xs-6">
				<h3 class="text-center">
					{{monthAndYear()}}
				</h3>
			</div>
			<div class="col-xs-1">
				<i class="fa fa-angle-right fa-32 pull-right mnd-clickable" ng-click="nextMonth()"></i>
			</div>
		</div>
		<br />
		<br />
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div mnd-coin-calendar user="selectedUser" day="day" on-day-click="openDayModal(day)"></div>
			</div>
		</div>
	</div>
</div>
