<div class="mnd-post-card-long" ng-if="type === 'long'">	
	<div class="col-xs-12">
		<a ui-sref="postView({postId: post._id})" class="mnd-undecorated-a">
			<h1 ng-bind-html="getTitle()"></h1>
			<h3 ng-bind-html="post.subtitle"></h3>
		</a>
	</div>
	<!-- TODO: adjust to desidered behaviour -->
	<div class="col-sm-12 col-sm-6 left" >
		<div class="author-image mnd-inline-block">
			<div mnd-cig-image source="post.authors[0].pictureUrl" size="45"></div>
		</div>
		<div class="author-details mnd-inline-block">
			{{post.authors[0].name || post.authors[0].screenName}}
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 right">
		<i
			class="fa fa-bookmark mnd-clickable"
			ng-class="{'fg-red': userBookmarkedPost()}"
			ng-click="!userBookmarkedPost() && bookmark()"
			tooltip-placement="top"
			tooltip-html-unsafe="{{bookmarkHtml()}}">
		</i>
		<i class="fa fa-thumbs-o-up mnd-clickable" ng-click="changeLikeStatus()" ng-class="{'fg-green': userLikesPost()}"></i>
		<span>{{post.likedBy.length || 0}} {{post.likedBy.length === 1 ? 'like' : 'likes'}}</span>
	</div>
	<div class="col-xs-12 shadow"></div>
</div>

<div class="mnd-post-card-short" ng-if="type === 'draft'">	
	<div class="col-xs-12">
		<a ui-sref="postEdit({postId: post._id})" class="mnd-undecorated-a">
			<h4 ng-bind-html="getTitle()"></h4>
			<h5 ng-bind-html="post.subtitle"></h5>
		</a>
	</div>
	<div class="col-xs-12 text-right" ng-controller="DeleteDraftController">
		<i class="fa fa-trash-o mnd-clickable" ng-if="!displayConfirmMessage" ng-click="toggleConfirmMessage()"></i>
		<span ng-if="displayConfirmMessage">
			Confirm deletion?
			&nbsp;
			<button class="btn btn-default btn-xs mnd-width-30" ng-click="deleteDraft(post._id)">Yes</button>
			&nbsp;
			<button class="btn btn-default btn-xs mnd-width-30" ng-click="toggleConfirmMessage()">No</button>
		</span>
	</div>
	<div class="col-xs-12 shadow"></div>
</div>
