<div>
	<h4><b>Visibility</b></h4>
	<div class="row">
		<div class="col-sm-6">
			<label class="radio-inline">
				<input type="radio" name="privateOrPublic" ng-model="permissions.public" ng-value="true" /> Public
			</label>
		</div>
		<div class="col-sm-6">
			<label class="radio-inline">
				<input type="radio" name="privateOrPublic" ng-model="permissions.public" ng-value="false" /> Private
			</label>
		</div>
	</div>
</div>
<br />

<div ng-if="!permissions.public">

	<h4><b>Restrict to</b></h4>

	<label>Groups</label>
	<div mnd-tags tags="permissions.groups" placeholder="Add group"></div>
	<br />

	<label>Users</label>
	<div class="participant-list" ng-repeat="member in members">
		<div class="mnd-inline-block mnd-valign-middle" mnd-cig-image source="member.pictureUrl" size="30"></div>
		<span>{{member.name}}</span>
		<span class="pull-right mnd-clickable" ng-click="deleteMember($index)">
			<i class="fa fa-times-circle"></i>
		</span>
	</div>
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Add member" mnd-user-input user-model="member.model" />
		<span class="input-group-addon mnd-clickable" ng-click="addMember()">
			<i class="fa fa-plus-circle"></i>
		</span>
	</div>

</div>
