$mnd-yellow: #FEDA17;
$mnd-grey: #5e5f5f;
$mnd-light-grey: #abadad;
$mnd-white: #ffffff;
$mnd-font: "Montserrat", sans-serif;

$sidebar-width: 220px;
$toggle-sidebar-size: 80px;
$toggle-sidebar-border-size: 2px;

// Sidebar
#mnd-sidebar {
	position: fixed;
	top: 0px;
	left: -$sidebar-width;
	transform: translate3d(0, 0, 0);
	transition: transform 0.4s ease 0s;
	z-index: 1;
	border-right: $toggle-sidebar-border-size solid $mnd-grey;
	background: $mnd-yellow;
	width: $sidebar-width;
	height: 100%;
	min-height: 450px;
	overflow: hidden;
	box-sizing: border-box;
	backface-visibility: hidden;
	&.sidebar-open {
		transform: translateX($sidebar-width);
	}
}

// Toggle-sidebar
#mnd-toggle-sidebar {
	position: fixed;
	top: 0px;
	left: 0px;
	transform: translate3d(0, 0, 0);
	transition: transform 0.4s ease 0s;
	z-index: 100;
	margin: 0px;
	border-right: $toggle-sidebar-border-size solid $mnd-grey;
	background-color: $mnd-yellow;
	width: $toggle-sidebar-size;
	height: 100%;
	min-height: 450px;
	text-align: center;
	box-sizing: border-box;
	&.sidebar-open {
		transform: translateX($sidebar-width);
	}
	@media (max-width: 767px) {
		border-right: 0px;
		border-bottom: $toggle-sidebar-border-size solid $mnd-grey;
		width: 100%;
		height: $toggle-sidebar-size;
		min-height: 0px;
		text-align: left;
	}
}

// Content
#mnd-content {
	position: absolute;
	top: 0px;
	left: $toggle-sidebar-size;
	transform: translate3d(0, 0, 0);
	transition: transform 0.4s ease 0s;
	z-index: 0;
	margin: 0px;
	background-color: $mnd-white;
	padding: 0px;
	width: calc(100% - #{$toggle-sidebar-size});
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	&.sidebar-open {
		transition: 0.4s;
		transform: translateX($sidebar-width);
		width: calc(100% - #{$sidebar-width});
	}
	@media (max-width: 767px) {
		top: $toggle-sidebar-size;
		left: 0px;
		width: 100%;
		height: calc(100% - #{$toggle-sidebar-size});
		&.sidebar-open {
			transform: translateX($sidebar-width);
		}
	}
}
#mnd-content-root-div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
