$mnd-yellow: #ffcc00;
$mnd-grey: #5e5f5f;
$mnd-light-grey: #abadad;
$mnd-font: "Source Sans Pro", sans-serif;

// Sidebar
#mnd-sidebar {
	box-sizing: border-box;
	position: fixed;
	top: 0px;
	left: -300px;
	height: 100%;
  	min-height: 450px;
	width: 300px;
	overflow: hidden;
	z-index: 1;
	background: $mnd-yellow;
	border-right: 2px solid $mnd-grey;
	transform: translate3d(0, 0, 0);
	transform: translateX(0px);
	transition: transform 0.4s ease 0s;
	backface-visibility: hidden;
}
#mnd-sidebar.sidebar-open{
	transform: translateX(300px);
}
@media (max-width: 767px) {
	#mnd-sidebar {
		left: -240px;
		width: 240px;
	}
	#mnd-sidebar.sidebar-open {
		transform: translateX(240px);
	}
}

// Toggle-sidebar
#mnd-toggle-sidebar {
	box-sizing: border-box;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
  	min-height: 450px;
	width: 100px;
	z-index: 100;
	margin: 0px;
	background-color: $mnd-yellow;
	border-right: 2px solid $mnd-grey;
	text-align: center;
	transform: translate3d(0, 0, 0);
	transform: translateX(0px);
	transition: transform 0.4s ease 0s;
}
#mnd-toggle-sidebar.sidebar-open{
	transform: translateX(300px);
}
@media (max-width: 767px) {
	#mnd-toggle-sidebar {
		height: 80px;
		min-height: 0px;
		width: 100%;
		text-align: left;
		border-bottom: 2px solid $mnd-grey;
		border-right: 0px;
	}
	#mnd-toggle-sidebar.sidebar-open{
		transform: translateX(240px);
	}
}

// Content
#mnd-content {
	box-sizing: border-box;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding-left: 100px;
	z-index: 0;
	background-color: #ffffff;
	transform: translate3d(0, 0, 0);
	transform: translateX(0px);
	transition: transform 0.4s ease 0s;
}
#mnd-content.sidebar-open{
	transform: translateX(300px);
}
.mnd-content {
	height: 100%;
	width: 100%;
}

@media (max-width: 767px) {
	#mnd-content {
		padding-left: 0px;
		padding-top: 70px;
	}
	#mnd-content.sidebar-open {
		transform: translateX(240px);
	}
}
