$mnd-yellow: #ffcc00;
$mnd-grey: #5e5f5f;
$mnd-light-grey: #abadad;
$mnd-font: "Source Sans Pro", sans-serif;

// Sidebar user
#mnd-sidebar-user {
	padding: 15px 10px 10px 15px; 
	color: $mnd-grey;
	font-size: 30px;
	font-weight: 600;
}
#mnd-sidebar-user .login {
	cursor: pointer;
}
#mnd-sidebar-user .login:hover {
	cursor: pointer;
	color: $mnd-light-grey;
	transition:color 1s ease,padding .5s ease;
}

// Sidebar footer
#mnd-sidebar-footer {
	position: absolute;
	bottom: 0px;
	padding: 0 10px 10px 15px; 
	color: $mnd-grey;
	font-size: 16px;
}
#mnd-sidebar-footer span{
	font-size: 30px;
}

// Menu
.nav {
  margin-top: 50px;
  font: {
  	family: $mnd-font;
  	size: 30px;
  	weight: normal;
  }
  text-transform: uppercase;
}
.nav li a{
	padding: 0 15px;
	color: $mnd-grey;
	font-weight: bold;
	font-weight: 600;
	transition:color 1s ease,padding .5s ease;
}
.nav li a:hover{
	padding: 0 15px 0 20px;
	color: $mnd-light-grey;
	background-color: initial;
}
.nav-second-level {
	margin-top: 0px;
}
.nav-second-level li a{
	font-weight: normal;
}
