<div class="image-positioning-toolbar medium-editor-toolbar medium-toolbar-arrow-under medium-editor-toolbar-active">
	<ul class="medium-editor-toolbar-actions clearfix">
		<li>
			<button class="medium-editor-action medium-editor-button-first" ng-click="moveImage.center()">
				<i class="fa fa-align-center"></i>
			</button>
		</li>
		<li>
			<button class="medium-editor-action" ng-click="moveImage.justify()">
				<i class="fa fa-align-justify"></i>
			</button>
		</li>
		<li>
			<button class="medium-editor-action medium-editor-button-last" ng-click="removeImage()">
				<i class="fa fa-trash-o"></i>
			</button>
		</li>
	</ul>
</div>
