.image-positioning-toolbar {
	display: none;
	position: absolute;
}

.image-positioning-toolbar ul {
	display: block;
}

.editor-image-center {
	width: 60%;
	position: relative;
	left: 20%;
}

.editor-image-justify {
	width: 100%;
}
