<div class="right-click-toolbar medium-editor-toolbar medium-toolbar-arrow-under medium-editor-toolbar-active">
	<ul id="medium-editor-toolbar-actions" class="medium-editor-toolbar-actions clearfix">
		<li>
			<button
				class="medium-editor-action medium-editor-button-first" 
				mnd-s3-image-upload
				before-upload="beforeUpload"
				after-upload="afterUpload"
				is-uploading="isUploading"
				upload-progress="uploadProgress">
				<i class="fa fa-picture-o"></i>
			</button>
		</li>
		<li>
			<button class="medium-editor-action medium-editor-button-last">
				<i class="fa fa-twitter"></i>
			</button>
		</li>
	</ul>
</div>
