<div class="right-click-toolbar medium-editor-toolbar medium-toolbar-arrow-under medium-editor-toolbar-active">
	<ul class="medium-editor-toolbar-actions clearfix" ng-if="!input.show">
		<li>
			<button
				class="medium-editor-action medium-editor-button-first" 
				mnd-s3-file-upload
				file-type="image"
				before-upload="beforeUpload"
				after-upload="afterUpload"
				is-uploading="upload.isUploading"
				upload-progress="upload.progress">
				<i class="fa fa-picture-o"></i>
			</button>
		</li>
		<li>
			<button
				class="medium-editor-action medium-editor-input-action"
				ng-click="openYoutubeInput()">
				<i class="fa fa-video-camera"></i>
			</button>
		</li>
		<li>
			<button
				class="medium-editor-action medium-editor-input-action"
				ng-click="openTwitterInput()">
				<i class="fa fa-twitter"></i>
			</button>
		</li>
		<li>
			<button
				class="medium-editor-action medium-editor-button-last"
				ng-click="addFormAfterCurrentParagraph()">
				<i class="fa fa-edit"></i>
			</button>
		</li>
	</ul>
	<div class="medium-editor-toolbar-form-anchor mnd-block" ng-if="input.show">
		<input type="text" placeholder="Paste or type a link" class="medium-editor-input-action" ng-model="input.content" />
		<span>
			<i ng-click="addExternalResource()" class="fa fa-check mnd-clickable"></i>
			&nbsp;
			<i ng-click="closeExternalResourceInput()" class="fa fa-times mnd-clickable"></i>
			&nbsp;
		</span>
	</div>
</div>

	
