$mnd-font: "Montserrat";
$mnd-yellow: #FFE921;
$mnd-grey: #5e5f5f;

html,
body {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	min-width: 400px;
	min-height: 450px;
	font-family: $mnd-font;
	overflow: hidden;
}

#root-div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

*::-webkit-scrollbar {
	display:none;
}

* {
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
}

#init-placeholder {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
#init-placeholder-sidebar {
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100px;
	background: $mnd-yellow;
	border-width: 0px;
	border-right-width: 2px;
	border-color: #900;
	border-style: solid;
	padding: 0px;
	margin: 0px;
}
#init-placeholder-sidebar img {
	width: 80px;
	position: absolute;
	top: calc(50% - 39px);
	left: 10px;
}
#init-placeholder-sidebar i {
	position: absolute;
	top: 28px;
	left: 33px;
	font-size: 40px;
	color: $mnd-grey;
}
#init-placeholder-spinner {
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% + 30px);
	color: $mnd-grey;
	font-size: 40px;
}
.color-me-white {
	color: #fff!important;
}
@media (max-width: 767px) {
	#init-placeholder-sidebar {
		box-sizing: border-box;
		position: relative;
		height: 80px;
		width: 100%;
		background: $mnd-yellow;
		border-width: 0px;
		border-bottom-width: 2px;
		border-color: #900;
		border-style: solid;
		padding: 0px;
		margin: 0px;
	}
	#init-placeholder-sidebar img {
		width: 60px;
		position: absolute;
		top: 11px;
		left: calc(50% - 30px);
	}
	#init-placeholder-sidebar i {
		top: 18px;
		left: 23px;
	}
	#init-placeholder-spinner {
		top: calc(50%);
		left: calc(50% - 20px);
		color: $mnd-grey;
		font-size: 40px;
	}
}
