$mnd-font: "Source Sans Pro", sans-serif;

html,
body {
  	min-width: 400px;
  	min-height: 450px;
	height: 100%;
	width: 100%;
	font-family: $mnd-font;	
	overflow-x: hidden;
}

*::-webkit-scrollbar {
	display:none;
}