<div mnd-sidebar ng-controller="SidebarController">
	<div name="before">
		<div id="mnd-sidebar-user">
			<div ng-if="user" class="row">
				<a class="col-xs-4 mnd-undecorated-a" ui-sref="profile()">
					<div mnd-cig-image source="user.profile.pictureUrl" size="70"></div>
				</a>
				<div class="col-xs-8">
					<div class="mnd-vsp-6"></div>
					<a class="mnd-undecorated-a" ui-sref="profile()">{{user.profile.name}}</a>
					<br />
					<span ng-click="logout()" class="logout mnd-clickable">
						<small><i>Logout</i></small>
					</span>
				</div>
			</div>
			<div ng-if="!user" class="login">
				<a href class="mnd-undecorated-a" ng-click="loginPopupOpen = !loginPopupOpen">
					Sign in
				</a>
				<ul collapse="!loginPopupOpen" class="list-unstyled">
					<li>
						<a href class="mnd-undecorated-a" ng-click="loginWithTwitter()">
							<i class="fa fa-twitter"></i>
							&nbsp;
							with Twitter
						</a>
					</li>
					<li>
						<a href class="mnd-undecorated-a" ng-click="loginWithGoogle()">
							<i class="fa fa-google-plus"></i>
							&nbsp;
							with Google Plus
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div name="after">
		<div id="mnd-sidebar-footer">
			<span class="h3">
				<a class="mnd-undecorated-a" href="https://www.facebook.com/mondoracom" target="_blank">
					<i class="fa fa-facebook-square"></i>
				</a>
				<a class="mnd-undecorated-a" href="https://twitter.com/mondora" target="_blank">
					<i class="fa fa-twitter-square"></i>
				</a>
				<a class="mnd-undecorated-a" href="http://www.pinterest.com/mondoracom/" target="_blank">
					<i class="fa fa-pinterest-square"></i>
				</a>
				<a class="mnd-undecorated-a" href="https://www.linkedin.com/company/mondora-s.p.a." target="_blank">
					<i class="fa fa-linkedin-square"></i>
				</a>
			</span>
			<div class="mnd-vsp-4"></div>
			<div class="mnd-vsp-4"></div>
			<div class="mnd-vsp-4"></div>
			<span>
				mondora srl
			</span>
			<br />
			<span class="address">
				via cornalia 7, 20124, milano<br />
				<a class="mnd-undecorated-a" href="mailto:info@mondora.com">email info@mondora.com</a><br />
				<a class="mnd-undecorated-a" href="tel:+3903421856264">tel +39 0342 1856 264</a><br />
				piva 03680680968 <br />
				<small>
					<small>
						<i>
							mondora app {{APP_VERSION}}
						</i>
						<br />
						<i>
							<a href="http://archive.mondora.com" class="mnd-undecorated-a">visit the old website</a>
						</i>
					</small>
				</small>
			</span>
		</div>
	</div>
</div>
<div mnd-toggle-sidebar>
	<div name="center">
		<div id="mnd-sidebar-logo">
			<div class="mnd-mondora-logo">
				<img src="https://s3.amazonaws.com/mnd-website/img/mondora-logo.png" />
			</div>
		</div>
	</div>
</div>
<div mnd-content>
	<div ui-view id="mnd-content-root-div"></div>
</div>
