<div mnd-sidebar ng-controller="SidebarController">
	<div name="before">
		<div id="mnd-sidebar-user">
			<div ng-if="user" class="row">
				<a class="col-xs-4 mnd-undecorated-a" ui-sref="profile()">
					<div class="picture-grey-ring picture-sm">
						<img class="img-circle" ng-src="{{user.profile.pictureUrl}}" />
					</div>
				</a>
				<div class="col-xs-8">
					<div class="mnd-vsp-6"></div>
					<a class="mnd-undecorated-a" ui-sref="profile()">{{user.profile.name}}</a>
					<br />
					<span ng-click="logout()" class="logout mnd-clickable">
						<small><i>Logout</i></small>
					</span>
				</div>
			</div>
			<div ng-if="!user" ng-click="login()" class="login">
				<i class="fa fa-twitter"></i> Sign in with twitter
			</div>
		</div>	
	</div>
	<div name="after">
		<div id="mnd-sidebar-footer">
			<span>
				MONDORA Srl
			</span>
			<br />
			<span class="mnd-sidebar-footer-address">
				Milano, Morbegno, Novara, St. Moritz (CH)<br />
				Via Cornalia 7 - 20154, Milano <br />
				PIVA 03680680968 <br />
			</span>
		</div>	
	</div>	
</div>
<div mnd-toggle-sidebar>
	<div name="center">
		<div id="mnd-sidebar-logo">
			<div class="mnd-mondora-logo">
				<img src="http://mnd-website.s3.amazonaws.com/img/mondora-logo.png" />
			</div>
		</div>
	</div>
</div>
<div mnd-content>
	<div ui-view class="mnd-content"></div>
</div>
