<div mnd-sidebar ng-controller="SidebarController">
	<div name="before">
		<div id="mnd-sidebar-user">
			<div ng-if="user" class="row">
				<a class="col-xs-4 mnd-undecorated-a" ui-sref="profile()">
					<div mnd-cig-image source="user.profile.pictureUrl" size="60"></div>
				</a>
				<div class="col-xs-8">
					<div class="mnd-vsp-6"></div>
					<a class="mnd-undecorated-a" ui-sref="profile()">{{user.profile.name}}</a>
					<br />
					<span ng-click="logout()" class="logout mnd-clickable">
						<small><i>Logout</i></small>
					</span>
				</div>
			</div>
			<div ng-if="!user" class="login">
				<a href class="mnd-undecorated-a" ng-click="loginPopupOpen = !loginPopupOpen">
					Sign in
				</a>
				<ul collapse="!loginPopupOpen" class="list-unstyled">
					<li>
						<a href class="mnd-undecorated-a" ng-click="loginWithTwitter()">
							<i class="fa fa-twitter"></i>
							&nbsp;
							with Twitter
						</a>
					</li>
					<li>
						<a href class="mnd-undecorated-a" ng-click="loginWithGoogle()">
							<i class="fa fa-google-plus"></i>
							&nbsp;
							with Google Plus
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div mnd-toggle-sidebar>
	<div name="center">
		<div id="mnd-menu-label">
			MENU
		</div>
		<div id="mnd-mondora-logo">
			<img src="/assets/images/mondora-logo.png" />
		</div>
		<div id="mnd-b-corp-logo">
			<a
				class="mnd-undecorated-a"
				href="https://www.bcorporation.net/community/mondora-srl"
				target="_blank"
			>
				<img src="https://s3.amazonaws.com/mnd-website/img/b-corp-logo.png" />
			</a>
		</div>
	</div>
</div>
<div mnd-content>
	<div ui-view id="mnd-content-root-div"></div>
</div>
