// Colours
$mnd-yellow: #ffcc00;
$mnd-grey: #5e5f5f;
$mnd-light-grey: #abadad;
$mnd-green: #5cb85c;

// Misc
.mnd-clickable {
	cursor: pointer;
}
.mnd-undecorated-a {
	color: inherit;
}
.mnd-undecorated-a:hover {
	text-decoration: none;
	color: inherit;
}
.mnd-ignore-mouse-input {
	pointer-events:none;
}
.mnd-top-most {
	z-index: 1000;
}
.mnd-fullsize {
	position: relative;
	width: 100%;
	height: 100%;
}
.mnd-block {
	display: block;
}
.mnd-inline-block {
	display: inline-block;
}
.mnd-valign-middle {
	vertical-align: middle;
}

// Vertical spaces
.mnd-vsp-4 {
	width: 100%;
	height: 4px;
}
.mnd-vsp-6 {
	width: 100%;
	height: 6px;
}
.mnd-vsp-16 {
	width: 100%;
	height: 16px;
}
.mnd-vsp-64 {
	width: 100%;
	height: 64px;
}

// Horizontal alignement classes
.mnd-width-80 {
	width: 80px;
}
span.mnd-width-80 {
	display: inline-block;
}
.mnd-width-60 {
	width: 60px;
}
span.mnd-width-60 {
	display: inline-block;
}
.mnd-width-50 {
	width: 50px;
}
span.mnd-width-50 {
	display: inline-block;
}
.mnd-width-40 {
	width: 40px;
}
span.mnd-width-40 {
	display: inline-block;
}
.mnd-width-35 {
	width: 35px;
}
span.mnd-width-35 {
	display: inline-block;
}
.mnd-width-30 {
	width: 30px;
}
span.mnd-width-30 {
	display: inline-block;
}
.mnd-width-20 {
	width: 20px;
}
span.mnd-width-20 {
	display: inline-block;
}
.mnd-width-15 {
	width: 15px;
}
span.mnd-width-15 {
	display: inline-block;
}
.mnd-width-10 {
	width: 10px;
}
span.mnd-width-10 {
	display: inline-block;
}

// Bootstrap resetting classes
.simplebox {
	outline: none;
	border: none !important;
	box-shadow: none !important;
}

// Font-awesome dimension classes
.fa-32 {
	font-size: 32px;
}

// Forms
.mnd-input-vertical-group input {
	border-radius: 0px;
	border-bottom-width: 0px;
}
.mnd-input-vertical-group input:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.mnd-input-vertical-group input:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-width: 1px;
}

// File upload icons
.file-upload-icon-lg {
	font-size: 70px;
	cursor: pointer;
	opacity: 0.7;
}
.file-upload-icon-lg:hover {
	opacity: 0.8;
}

//overflow hidden
.mnd-overflow-hidden {
	overflow: hidden!important;
}

// Colours
.fg-green {
	color: $mnd-green;
}
.bg-green {
	background-color: $mnd-green;
}
