.article-subtitle {
    font-weight: 600;
    font-size: 22px;
}
.article-body {
    font-size: 16px;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 35px;
}
.article-paragraph {
    margin-bottom: 10px;
}