.mnd-pomodoro-summary {
	margin: 20px;
	vertical-align: top;
}
.mnd-pomodoro-details {
	text-align: center;
	width: 150px;
}
.mnd-pomodoro-task {
}
.mnd-pomodoro-task h4{
	color: #000;
	margin: 0px;
}

@media (max-width: 767px) {
	.mnd-pomodoro-summary {
		margin: 10px 0 0 5px;
	}
}