<div class="panel panel-default">
	<div class="panel-heading">{{formSchema.name}}</div>
	<div class="panel-body">

		<form ng-if="!submitted" ng-submit="onSubmit()">
			<div ng-repeat="field in formSchema.fields">

				<div ng-if="field.type === 'text' || field.type === 'email' || field.type === 'date' || field.type === 'time' || field.type === 'datetime-local'" class="form-group">
					<label>{{field.label}}</label>
					<input class="form-control" type="{{field.type}}" name="{{field.name}}" ng-model="form[field.name]" ng-required="field.required" />
				</div>

				<div ng-if="field.type === 'textarea'">
					<label>{{field.label}}</label>
					<textarea class="form-control" rows="5" name="{{field.name}}" ng-model="form[field.name]" ng-required="field.required"></textarea>
				</div>

				<div ng-if="field.type === 'checkbox'" class="checkbox">
					<label>
						<input type="checkbox" name="{{field.name}}" ng-model="form[field.name]" ng-required="field.required" />
						{{field.label}}
					</label>
				</div>

				<div ng-if="field.type === 'radio'">
					<label>{{field.label}}</label>
					<div class="radio" ng-repeat="option in field.options">
						<label>
							<input type="radio" name="{{field.name}}" ng-model="form[field.name]" ng-value="field.value" ng-required="field.required">
							{{option.label}}
						</label>
					</div>
					<br />
				</div>

				<div ng-if="field.type === 'select'">
					<label>{{field.label}}</label>
					<select
						class="form-control"
						name="{{field.name}}"
						ng-model="form[field.name]"
						ng-required="field.required"
						ng-options="option.value as option.label for option in field.options">
					</select>
					<br />
				</div>

			</div>
			<button type="submit" class="btn btn-default">{{formSchema.submitButtonText}}</button>
		</form>

		<div ng-if="submitted">
			Thanks, your form has been submitted correctly.
		</div>

	</div>
</div>
