.profile-social-row {
	line-height: 2em;
	font-size: 14px;
}

.profile-social-row .simplebox {
	display: inline-block;
	width: 50%;
}

.profile-social-row .icon {
	display: inline-block;
	width: 30px;
}

#profile-picture-progressbar {
	position: absolute;
	top: 100px;
	left: 15px;
	width: 200px;
	z-index: 10;
}

#profile-picture-progressbar * {
	height: 5px;
}

#profile-picture-progressbar .progress-bar {
	background-color: #aeaeac;
}

.profile-edit-picture {
	min-width: 200px;
}

#profile-picture-input {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	cursor: pointer;
	z-index: 10;
}
