.profileSocialRow {
	line-height: 1.5em;
	font-size: 14px;
}

.profileSocialRow .simplebox {
	display: inline-block;
	width: 50%;
}

.profileSocialRow .icon {
	display: inline-block;
	width: 30px;
}

#profilePictureProgressbar {
	position: absolute;
	top: 100px;
	left: 15px;
	width: 200px;
	z-index: 10;
}

#profilePictureProgressbar * {
	height: 5px;
}

#profilePictureProgressbar .progress-bar {
	background-color: #aeaeac;
}

.dullProfilePicture {
	opacity: 0.5;
}

#profileMottoEditor,
#profileBioEditor {
	font-size: 16px;
}

.profileEdit-picture {
	min-width: 200px;
}
