<!-- Post deletion modal -->
<div mnd-modal header="Add pomodoro" open="modalStatus.addPomodoro">
	<div ng-controller="AddPomodoroModalController">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Task" ng-model="pomodoro.task" />
		</div>

		<div class="form-group">
			<input type="datetime-local" step="1800" class="form-control" ng-model="scheduledStart" />
		</div>

		<br />
		<div class="form-group">
			<textarea class="form-control" rows="4" placeholder="Description" ng-model="pomodoro.description"></textarea>
		</div>

		<div class="participant-list" ng-repeat="participant in pomodoro.participants">
			<div class="mnd-inline-block mnd-valign-middle" mnd-cig-image source="participant.pictureUrl" size="30"></div>
			<span>{{participant.name}}</span>
		</div>

		<div class="input-group">
			<input type="text" class="form-control" placeholder="Invite" mnd-user-input user-model="participant.model" />
			<span class="input-group-addon mnd-clickable" ng-click="addParticipant()">
				<i class="fa fa-plus-circle"></i>
			</span>
		</div>

		<br />
		<button type="button" class="btn btn-default" ng-click="addPomodoro()">
			Add
		</button>
		<button type="button" class="btn btn-default" ng-click="modalStatus.addPomodoro = false">
			Cancel
		</button>
	</div>
</div>



<div class="pomodoro-page-container radial-background">

	<div class="mnd-pomodoro-header">
		<h2 class="personalHome-h2">
			Your Daily Plan
		</h2> 
		<button type="button" class="btn btn-default" ng-click="modalStatus.addPomodoro = true"><span>Add Pomodoro</span></button>
	</div>

	<div class="pomodoros col-sm-7 col-sm-offset-1">
		<div class="mnd-inline-block mnd-clickable" ng-repeat="pomodoro in pomodoros" ng-click="selectPomodoro($index)">
			<div class="mnd-pomodoro-summary mnd-inline-block">
				<div mnd-pomodoro-timer pomodoro="pomodoro" size="100" ticker="true"></div>
				<div class="mnd-pomodoro-details">
					<div class="mnd-pomodoro-task"><h4>{{pomodoro.task}}</h4></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3" ng-if="pomodoros[pIndex]">
		<div class="text-center">
			<div>
				<div mnd-pomodoro-timer class="running-pomodoro mnd-inline-block" size="200" pomodoro="pomodoros[pIndex]" ticked="true" tick-with="{{pomodoros[pIndex]._id}}"></div>
			</div>
			<div class="mnd-vsp-4"></div>
			<div class="mnd-vsp-4"></div>
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="start()"><i class="fa fa-play"></i></button>
				<button type="button" class="btn btn-default" ng-click="pause()"><i class="fa fa-pause"></i></button>
				<button type="button" class="btn btn-default" ng-click="stop()"><i class="fa fa-stop"></i></button>
			</div>
		</div>

		<br />
		<h3>{{pomodoros[pIndex].task}}</h3>
		<h4>{{pomodoros[pIndex].description}}</h4>

		<br />
		<div ng-repeat="participant in pomodoros[pIndex].participants" class="participant-list">
			<div class="mnd-inline-block mnd-valign-middle" mnd-cig-image source="participant.pictureUrl" size="40"></div>
			<span class="h4">{{participant.name}}</span>
		</div>

		<br />
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Invite" mnd-user-input user-model="participant.model" />
			<span class="input-group-addon mnd-clickable" ng-click="addParticipant()">
				<i class="fa fa-plus-circle"></i>
			</span>
		</div>

	</div> 

</div>
