<div id="teamMembersList" class="col-sm-8 col-sm-offset-2">
	<br />
	<a ng-repeat="member in team" ui-sref="user({userId: member._id})" class="teamMember">
		<div mnd-cig-image source="member.profile.pictureUrl" size="100" class="mnd-inline-block"></div>
		<p class="teamMemberText">
			<b ng-bind-html="member.profile.name"></b>
			<br />
			<i ng-bind-html="member.profile.motto"></i>
		</p>
	</a>
	<!-- Add some space at the bottom to allow full scrolling -->
	<br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br />
</div>
<div id="teamMembersListFadeout"></div>

<div id="workWithUsBannerStripe">
	<div class="col-sm-6 col-sm-offset-2" ng-if="!user || !user.mondoraTeamMember">
		<div id="joinUsUserPicture">
			<div mnd-cig-image source="user.profile.pictureUrl" size="100" ng-if="user"></div>
			<i ng-if="!user" class="fa fa-question-circle"></i>
		</div>
		<div id="joinUsText">
			<div ng-if="user">
				<div ng-if="!linkSent">
					<h4>Want to join us?</h4>
					<p>Send us a link to your LinkedIn profile!</p>
					<div class="input-group">
						<input type="text" class="form-control" ng-model="LinkedInProfileUrl">
						<span class="input-group-btn">
							<button class="btn btn-default" ng-class="{disabled: !checkLink(LinkedInProfileUrl)}" type="button" ng-click="sendLinkedInProfile(LinkedInProfileUrl)">Send</button>
						</span>
					</div>
				</div>
				<div ng-if="linkSent">
					<h4>Thank you!</h4>
					<p>We'll let you know soon!</p>
				</div>
			</div>
			<div ng-if="!user" ng-click="login()" class="mnd-clickable">
				<br />
				<h4>The next could be you!</h4>
				<a class="mnd-undecorated-a">
					<i class="fa fa-twitter"></i>&nbsp;&nbsp;Sign in to submit your resume
				</a>
			</div>
		</div>
	</div>
</div>
