#teamMembersList {
	height: 90%;
	overflow: auto;
}

.teamMember {
	width: 120px;
	height: 120px;
	position: relative;
	display: inline-block;
	margin: 20px;
	margin-bottom: 70px;
	text-align: center;
}
.teamMember:hover {
	text-decoration: none;
}

.teamMemberText {
	width: 100%;
	height: 60px;
	overflow: hidden;
	position: absolute;
	top: 110%;
	color: #333333;
}

#teamMembersListFadeout {
	position: fixed;
	bottom: 180px;
	width: 100%;
	height: 20px;
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

#workWithUsBannerStripe {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 150px;
	background: #ffffff;
	box-sizing: content-box;
	border-top: 30px;
	border-style: solid;
	border-color: #ffffff;
}

#joinUsUserPicture {
	position: absolute;
	left: 20px;
	width: 110px;
	height: 110px;
}

#joinUsUserPicture i {
	font-size: 120px;
	color: #5e5f5f;
}

#joinUsText {
	position: absolute;
	left: 150px;
}
