.entry-in-channel {

	h1 {
		font-weight: 700;
		margin-bottom: 0px;
	}
	h2 {
		margin-top: 5px;
	}
	.shadow {
		height: 15px;
		border-bottom: solid 1px #abadad;
		box-shadow: 0px 4px 4px -3px #abadad;
		margin-bottom: 15px;
	}
}
