<div class="col-sm-8 col-sm-offset-2">

	<br />
	<br />
	<div class="row">
		<div class="col-xs-5 col-sm-6 col-md-5 col-lg-4">
			<img ng-src="{{user.profile.pictureUrl}}" class="img-circle hidden-xs" width="200" height="200" />
			<img ng-src="{{user.profile.pictureUrl}}" class="img-circle visible-xs" width="150" height="150" />
		</div>
		<div class="col-xs-7 col-sm-6 col-md-7 col-lg-8">
			<h2>{{user.profile.name}}</h2>
			<h3><i>@{{user.profile.screenName}}</i></h3>

			<a href="mailto:{{user.profile.email}}">{{user.profile.email}}</a>
			<h4>
				<a ng-if="user.profile.facebookUrl" ng-href="{{user.profile.facebookUrl}}" class="mnd-undecorated-a"><i class="fa fa-facebook"></i></a>
				<a ng-if="user.profile.twitterUrl" ng-href="{{user.profile.twitterUrl}}" class="mnd-undecorated-a"><i class="fa fa-twitter"></i></a>
				<a ng-if="user.profile.githubUrl" ng-href="{{user.profile.githubUrl}}" class="mnd-undecorated-a"><i class="fa fa-github"></i></a>
				<a ng-if="user.profile.linkedInUrl" ng-href="{{user.profile.linkedInUrl}}" class="mnd-undecorated-a"><i class="fa fa-linkedin"></i></a>
			</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<br />
			<h3>Motto</h3>
			<h4>{{user.profile.motto}}</h4>
			<h3>Short bio</h3>
			<div ng-bind-html="user.profile.bio"></div>
			<h3>Posts</h3>
			<div ng-repeat="post in posts" class="found-posts">
				<a ui-sref="postView({postId: post._id})" class="title-topiclist mnd-undecorated-a">
					<h4>{{post.title}}</h4>
					<h5>{{post.subtitle}}</h5>
				</a>
				<div class="post-author-topiclist">
					<span class="reading-topiclist">Reading time {{post.readingLength}} min</span>
				</div>
				<div class="topic-bottom"></div>
			</div>
		</div>
	</div>

</div>
