<div class="col-sm-8 col-sm-offset-2">

	<br />
	<br />
	<div class="row">
		<div class="col-sm-4">
			<img ng-src="{{user.profile.pictureUrl || user.twitterProfile.pictureUrl}}" class="img-circle mnd-clickable" width="200" height="200" />
		</div>
		<div class="col-sm-8">
			<h2>{{user.twitterProfile.name}}</h2>
			<h3><i>@{{user.twitterProfile.screenName}}</i></h3>

			<a href="mailto:{{user.profile.email}}">{{user.profile.email}}</a>
		</div>
	</div>

	<br />
	<br />
	<div class="row">
		<h3>
			<a ng-if="user.profile.facebookUrl" ng-href="{{user.profile.facebookUrl}}"><i class="fa fa-facebook"></i></a>
			<a ng-if="user.profile.twitterUrl" ng-href="{{user.profile.twitterUrl}}"><i class="fa fa-twitter"></i></a>
			<a ng-if="user.profile.githubUrl" ng-href="{{user.profile.githubUrl}}"><i class="fa fa-github"></i></a>
			<a ng-if="user.profile.linkedInUrl" ng-href="{{user.profile.linkedInUrl}}"><i class="fa fa-linkedin"></i></a>
		</h3>
	</div>

	<br />
	<br />
	<div class="row">
		<h3>Short bio</h3>
		<div ng-bind-html="user.profile.bio"></div>
	</div>

</div>
