.user-profile-short-bio div {
	font-size: 16px;
	text-align: justify;
}
.avatar-border {
	border: 5px solid #5e5f5f;
}

.user-profile-posts h3{
	font-weight: 600;
}

.user-page-container h3 span {
	font-size: 20px;
}
.user-page-container {
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.user-page-container h2{
	font-weight: 600;
}

.user-page-container h4{
	font-size: 25px;
}

@media (max-width: 767px){
	.user-page-container{
		padding-left: 0px;
	}
}