<canvas id="canvas"></canvas>
<div id="mnd-home-container">
	<div id="mnd-sign-in">
		<span ng-if="!user" class="dropdown" on-toggle="toggled(open)">
			<a href class="dropdown-toggle">
				Sign in
			</a>
			<ul class="dropdown-menu dropdown-menu-right">
				<li>
					<a href ng-click="loginWithTwitter()">
						<i class="fa fa-twitter"></i>
						&nbsp;
						&nbsp;
						with Twitter
					</a>
				</li>
				<li>
					<a href ng-click="loginWithGoogle()">
						<i class="fa fa-google-plus"></i>
						&nbsp;
						&nbsp;
						with Google Plus
					</a>
				</li>
			</ul>
		</span>
		<span ng-if="user" ng-click="logout()">Sign Out</span>
	</div>

    <div id="mnd-home-top">
        <div class="hidden-xs mnd-vsp-32"></div>
        <div class="bcorp-logo">
            <img id="bcorp-image" src="/assets/images/mondorabcorp.png">
            <div id="bcorp-text">
                mondora.com
            </div>
        </div>
        <div class="text-center">
            <h1 id="header-double-points">
                :
            </h1>
            <h1 id="header-text">
                SMASH YOUR CONFORT ZONE
            </h1>
        </div>
		<div id="header-subtitle">
            Holocracy, actively promote people before technology in the IT.
        </div>
    </div>

    <div id="mnd-video-background">
        <div class="mnd-video-overlay"></div>
        <video muted autoplay="1" loop="1" ng-attr-poster="{{videoUrls.poster}}">
            <source ng-src="{{videoUrls.mp4}}" type="video/mp4" />
            <source ng-src="{{videoUrls.webm}}" type="video/webm" />
        </video>
    </div>
    <div class="numbers-container">
        <div class="business-numbers">
            <div class="m-numbers">
                {{homeConfig.openSourceProjects}}
            </div>
            OPEN SOURCE PROJECTS
        </div>
        <div class="business-numbers">
            <div class="m-numbers">
                {{homeConfig.weeksCommits}}
            </div>
            COMMITS THIS WEEK
        </div>
        <div class="business-numbers">
            <div class="m-numbers">
                {{homeConfig.co2Reduction}}
            </div>
            % OF CO2 REDUCTION
        </div>
        <div class="business-numbers">
            <div class="m-numbers">
                {{homeConfig.todaysDeploys}}
            </div>
                DEPLOYS TODAY
        </div>
    </div>
    <div class="introduction-container">
        <div class="introduction-sets">
            <img class="introduction-image" src="/assets/images/cloudgovernance.png"/>
            <div class="introduction-title">
                CLOUD GOVERNANCE
            </div>
            <div class="introduction-text">
                Reduce your costs while increasing the reliability and quality of your cloud computing experience
            </div>
        </div>
        <div class="introduction-sets">
            <img class="introduction-image" src="/assets/images/services.png"/>
            <div class="introduction-title">
                SERVICES
            </div>
            <div class="introduction-text">
                Shaping new ideas, using open tecnologies, and contributing opensource in our spare time
            </div>
        </div>
        <div class="introduction-sets">
            <img class="introduction-image" src="/assets/images/training.png"/>
            <div class="introduction-title">
                TRAINING
            </div>
            <div class="introduction-text">
                Introductory or advanced training for your agile software development team or department to train
            </div>
        </div>
    </div>
	<div class="news-container">
        <div>
            <span class="double-points">
                :
            </span>
            <span class="sections-titles">
                LATEST NEWS
            </span>
        </div>
        <div class="news-card">
            <img src="/assets/images/posts-image.png" class="post-image">
            <div class="post-content">
                <div class="posts-title">
                    4 Ways To Make Your Brain Work Better
                </div>
                <div class="post-author">
                    By Dustin Moskovitz, reposted by Michele Mondora 15.08.15
                </div>
                <div class="post-text">
                    The New Yorker’s Maria Konnikova explains the science behind why we need to sleep more, waste less time on the in- ternet, and stop multitasking.
                </div>
            </div>
        </div>
        <div class="news-card">
            <img src="/assets/images/posts-image.png" class="post-image">
            <div class="post-content">
                <div class="posts-title">
                    4 Ways To Make Your Brain Work Better
                </div>
                <div class="post-author">
                    By Dustin Moskovitz, reposted by Michele Mondora 15.08.15
                </div>
                <div class="post-text">
                    The New Yorker’s Maria Konnikova explains the science behind why we need to sleep more, waste less time on the in- ternet, and stop multitasking.
                </div>
            </div>
        </div>
        <div class="news-card">
            <img src="/assets/images/posts-image.png" class="post-image">
            <div class="post-content">
                <div class="posts-title">
                    4 Ways To Make Your Brain Work Better
                </div>
                <div class="post-author">
                    By Dustin Moskovitz, reposted by Michele Mondora 15.08.15
                </div>
                <div class="post-text">
                    The New Yorker’s Maria Konnikova explains the science behind why we need to sleep more, waste less time on the in- ternet, and stop multitasking.
                </div>
            </div>
        </div>
    </div>
</div>
	<!--<div id="mnd-home-top">-->
		<!--<div class="hidden-xs mnd-vsp-32"></div>-->
		<!--<h1 class="text-center">-->
			<!--{{homeConfig.header}}-->
		<!--</h1>-->
	<!--</div>-->
	<!--<div id="mnd-home-center">-->
		<!--<div class="container-fluid">-->
			<!--<br />-->
			<!--<br />-->
			<!--<div class="row">-->
				<!--<div class="col-xs-4 col-sm-2 text-center">-->
					<!--<img class="mnd-width-60" src="/assets/images/clients-logo.png" />-->
					<!--<div class="mnd-vsp-6"></div>-->
					<!--<p>-->
						<!--<span class="h1">-->
							<!--{{homeConfig.activeClients}}-->
						<!--</span>-->
						<!--<br />-->
						<!--active clients-->
					<!--</p>-->
				<!--</div>-->
				<!--<div class="col-xs-4 col-sm-2 col-sm-offset-2 text-center">-->
					<!--<img class="mnd-width-60" src="/assets/images/git-logo.png" />-->
					<!--<div class="mnd-vsp-6"></div>-->
					<!--<p>-->
						<!--<span class="h1">-->
							<!--{{homeConfig.weeksCommits}}-->
						<!--</span>-->
						<!--<br />-->
						<!--commits this week-->
					<!--</p>-->
				<!--</div>-->
				<!--<div class="col-xs-4 col-sm-2 col-sm-offset-2 text-center">-->
					<!--<img class="mnd-width-60" src="/assets/images/jenkins-logo.png" />-->
					<!--<div class="mnd-vsp-6"></div>-->
					<!--<p>-->
						<!--<span class="h1">-->
							<!--{{homeConfig.todaysDeploys}}-->
						<!--</span>-->
						<!--<br />-->
						<!--deploys today-->
					<!--</p>-->
				<!--</div>-->
			<!--</div>-->
			<!--<br />-->
			<!--<br />-->
			<!--<div class="row">-->
				<!--<div class="col-xs-4 col-sm-2 col-sm-offset-2 text-center">-->
					<!--<img class="mnd-width-60" src="/assets/images/github-logo.png" />-->
					<!--<div class="mnd-vsp-6"></div>-->
					<!--<p>-->
						<!--<span class="h1">-->
							<!--{{homeConfig.openSourceProjects}}-->
						<!--</span>-->
						<!--<br />-->
						<!--open source projects-->
					<!--</p>-->
				<!--</div>-->
				<!--<div class="col-xs-4 col-sm-2 col-sm-offset-2 text-center">-->
					<!--<img class="mnd-width-60" src="/assets/images/carbon-footprint-logo.png" />-->
					<!--<div class="mnd-vsp-6"></div>-->
					<!--<p>-->
						<!--<span class="h1">-->
							<!--{{homeConfig.co2Reduction}}-->
						<!--</span>-->
						<!--<br />-->
						<!--% of CO2 reduction-->
					<!--</p>-->
				<!--</div>-->
				<!--<div class="col-xs-4 col-sm-2 col-sm-offset-2 text-center">-->
					<!--<img class="mnd-width-60" src="/assets/images/volunteer-logo.png" />-->
					<!--<div class="mnd-vsp-6"></div>-->
					<!--<p>-->
						<!--<span class="h1">-->
							<!--{{homeConfig.volunteeringWorkDays}}-->
						<!--</span>-->
						<!--<br />-->
						<!--volunteering work days-->
					<!--</p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div id="mnd-home-bottom">-->
		<!--<div class="col-sm-8 col-sm-offset-2 hidden-xs">-->
			<!--<h3 class="text-center">-->
				<!--{{homeConfig.footer}}-->
			<!--</h3>-->
		<!--</div>-->
	<!--</div>-->

<!--</div>-->

<!--<div id="mnd-video-background">-->
	<!--<div class="mnd-video-overlay"></div>-->
	<!--<video muted autoplay="1" loop="1" ng-attr-poster="{{videoUrls.poster}}">-->
		<!--<source ng-src="{{videoUrls.mp4}}" type="video/mp4" />-->
		<!--<source ng-src="{{videoUrls.webm}}" type="video/webm" />-->
	<!--</video>-->
	<!--<img ng-src="{{videoUrls.poster}}" />-->
<!--</div>-->