#mnd-video-background {
	z-index: -1;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.mnd-video-overlay{
	background-color: #000;
	opacity: 0.2;
	min-width: 100%;
	min-height: 100%;
}
#mnd-video-background video{
	top: 0px;
	left: 0px;
	min-height: 100%;
	min-width: 100%;
	z-index: -10;
}

#mnd-home-container {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	z-index: 1;
}

#mnd-sprinkle-container {
	position: absolute;
	width: 620px;
	left: 50%;
	top: 50%;
	margin-left: -310px;
	margin-top: -50px;
	z-index: 1;
}
#mnd-hidden-payoff {
	z-index: 10;
	color: #fff;
	padding-top: 30px;
	font-size: 80px;
	font-style: bold;
	text-align: center;
	text-transform: uppercase;
	opacity: 0;
    transition: opacity 0s ease-in;
}
#mnd-hidden-payoff:hover {
	opacity: 0.5;
}
#mnd-home-bottom {
	position: absolute;
	bottom: 0px;
	height: 150px;
	width: 100%;
}
#mnd-home-logo {
	width: 140px;
	height: 140px;
	float: right;
	padding-right: 10px;
	opacity: 0.5;
	overflow: hidden;
}
.mnd-mondora-logo img{
	width: 100%;
	height: 100%;
}
#mnd-home-banner {
	float:right;
	width: 300px;
	height: 150px;
	margin-right: 10px;
}
#mnd-home-banner-content {
	height: 130px;
	width: 300px;
	padding: 0 10px;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: scroll;
	color: #fff;
	line-height: 5px;
}
#mnd-home-banner-content h1{
	text-transform: uppercase;
	font-size: 30px;
}
#mnd-home-banner-content h2{
	font-size: 20px;
	margin-top: 0px;
}
#mnd-sign-in {
	position: absolute;
	right: 10px;
	top: 10px;
	color: #fff;
	font-size: 20px;
	z-index: 20;
}
#mnd-sign-in:hover {
	cursor: pointer;
}
#mnd-home-banner-arrow {
	position: relative;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 0px;
	border-top: solid 18px #000;
	border-bottom: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	opacity: 0.5;
}

/*************** MEDIA QUERY****************/
@media (max-width: 767px) {
	
}
