// Video
#mnd-video-background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	z-index: -1;
	background-image: url('')
}
.mnd-video-overlay{
	background-color: #000;
	opacity: 0.2;
	min-width: 100%;
	min-height: 100%;
}
#mnd-video-background video {
	background-color: transparent;
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	z-index: -10;
}
#mnd-video-background img {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  z-index: -20;
}
@media (max-width: 767px) {
  #mnd-video-background video {
    display: none;
  }
}

// Home contents
#mnd-home-container {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 1;
}

// Sign in
#mnd-sign-in {
	position: fixed;
	right: 20px;
	top: 20px;
	color: #fff;
	font-size: 20px;
	z-index: 20;
}
#mnd-sign-in:hover {
	cursor: pointer;
}
@media (max-width: 767px) {
  #mnd-sign-in {
    display: none;
  }
}

// Payoff
#mnd-hidden-payoff {
	color: #fff;
	padding-top: 30px;
	padding-left: 100px;
	font-size: 80px;
	font-style: bold;
	text-align: center;
	text-transform: uppercase;
	opacity: 0.5;
	animation-name: payoff;
	animation-duration: 16s;
	z-index: 10;
}
@keyframes payoff {
	0% {
		opacity: 0;
	}
	55% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}
@media (max-width: 767px) {
  #mnd-hidden-payoff{
    display: none;
  }
}

// Sprinkle
#mnd-sprinkle-container {
	position: absolute;
	width: 620px;
	left: 50%;
	top: 50%;
	margin-left: -260px;
	margin-top: -50px;
	z-index: 1;
}
@media (max-width: 767px) {
  #mnd-sprinkle-container {
    width: 98%;
    top: 35%;
    margin-left: -49%;
  }
}

// Footer
#mnd-home-bottom {
	position: absolute;
	bottom: 0px;
	height: 150px;
	width: 100%;
}

// Logo
#mnd-home-logo {
	width: 140px;
	height: 140px;
	float: right;
	padding-right: 20px;
	opacity: 0.5;
	overflow: hidden;
}
.mnd-mondora-logo img{
	width: 100%;
	height: 100%;
}
@media (max-width: 767px) {
  #mnd-home-logo {
    display: none;
  }
}

// Banner
#mnd-home-banner {
	float:right;
	width: 300px;
	height: 150px;
	margin-right: 10px;
}
#mnd-home-banner-content {
	height: 130px;
	width: 300px;
	padding: 0 10px;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: auto;
	color: #fff;
	line-height: 5px;
}
#mnd-home-banner-content h1{
	text-transform: uppercase;
	font-size: 30px;
}
#mnd-home-banner-content h2{
	font-size: 20px;
	margin-top: 0px;
}

#mnd-home-banner-arrow {
	position: relative;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 0px;
	border-top: solid 18px #000;
	border-bottom: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	opacity: 0.5;
}
@media (max-width: 767px) {
  #mnd-home-banner {
    width: 100%;
    height: 150px;
    margin-right: 0px;
  }
  #mnd-home-banner-content {
    height: 150px;
    width: 100%;
  }
  #mnd-home-banner-content h1{
    text-transform: uppercase;
    font-size: 25px;
  }
  #mnd-home-banner-arrow {
    display: none;
  }
}
