$mnd-white: #ffffff;
$mnd-black: #000000;

// Video
#mnd-video-background {
    width: 100%;
    height: 65%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: #000000;
    @media (max-width: 767px) {
        height: 100%;
        background-image: url("https://s3.amazonaws.com/mnd-website/videos/mnd-11-poster.jpg");
    }
}
.mnd-video-overlay{
	background-color: rgba(0, 0, 0, 0.6);
	min-width: 100%;
	min-height: 100%;
    position: absolute;
    @media (max-width: 767px) {
        position: relative;
    }
}
#mnd-video-background video {
	z-index: -10;
    min-height: 100%;
    min-width: 100%;
    @media (max-width: 767px) {
        display: none;
    }
}

// Home contents

#mnd-home-container {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: #f2f2f2;
    overflow: scroll;
}
.bcorp-logo {
    text-align: center;
}
#bcorp-image {
  width: 240px;
  height: 240px;
}
#bcorp-text {
  margin-top: 5px;
  font-size: 35px;
  font-weight: 200;
}
.header-double-points {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  color: #ffcc00;
}
.header-text {
  display: inline-block;
  font-weight: 400;
}
.header-subtitle {
  font-size: 25px;
  font-weight: 100;
  width: 100%;
}
.header-logos {
    padding-top: 10px;
}
// Sign in
#mnd-sign-in {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 20;
	cursor: pointer;
	.dropdown-toggle {
		color: $mnd-white;
		font-size: 20px;
	}
	@media (max-width: 767px) {
		display: none;
	}
}

.mnd-home-top {
	width: 100%;
	color: $mnd-white;
	text-align: -webkit-center;
    position: absolute;
    z-index: 1;
    padding-top: 50px;
}

#mnd-home-center {
	width: 100%;
	height: 60%;
	color: $mnd-white;
}

#mnd-home-bottom {
	width: 100%;
	height: 20%;
	color: $mnd-white;
}
.numbers-container {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.business-numbers {
    width: 115px;
    display: inline-block;
    margin-right: 5px;
}
.m-numbers {
    color: #ffcc00;
    font-size: 30px;
}
.introduction-container {
    background-color: #ffffff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
}
.introduction-image {
    width: 80px;
    height: 65px;
}
.introduction-icon {
    font-size: 60px;
    color: #ffcc00;
}
.introduction-text {
    font-weight: 200;
}
.introduction-title {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
}
.introduction-sets {
    margin-top: 10px;
    padding-right: 35px;
    padding-left: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.news-container {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #EEEEEE;
    padding-left: 5%;
    padding-right: 5%;
}
.news-card {
    background-color: #FFFFFF;
    height: 545px;
}
.read-more-button {
    margin-top: 10px;
    font-size: 12px;
    border-radius: 5px;
    background-color: #ffcc00;
    border-color: #ffcc00;
    bottom: 10px;
    position: absolute;
}
.double-points {
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    color: #ffcc00;
    margin-bottom: 20px;
}
.sections-titles {
    font-size: 23px;
    margin-bottom: 20px;
}
.post-image {
    width: 100%;
    height: 325px;
}
.post-content {
    display: table;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    height: 220px;
}
.posts-title {
    margin-top: 20px;
    font-size: 16px;
}
.post-text {
    font-size: 13px;
    font-weight: 200;
    height: 90px;
    overflow: hidden;
}
.post-author {
    font-size: 9px;
    color: #BBB;
    font-weight: 200;
    margin-bottom: 10px;
}
.footer {
    padding: 0px;
}
.twitter-footer {
    background-color: #FFF;
    padding-left: 5%;
    padding-top: 5px;
    padding-bottom: 10px;
}
.social-logos {
    font-size: 30px;
    display: inline-block;
    color: #ffcc00;
    margin: 2px;
}
#twitter-date {
    display: inline-block;
    color: #BBB;
    font-size: 10px;
    font-weight: 200;
}
#twitter-post-name {
    display: inline-block;
    font-size: 20px;
    line-height: 0px;
    color: #ffcc00;
    @media (max-width: 1050px) {
        display: none;
    }
}
.twitter-infos {
    display: inline-block;
    position: absolute;
    padding-left: 5px;
}
.info-footer {
    background-color: #000000;
    color: #ffffff;
    padding-left: 5%;
    padding-top: 20px;
    padding-bottom: 25px;
}
.info-container {
    padding: 0px;
}
.info-content {
    font-size: 12px;
    font-weight: 200;
    padding-top: 10px;
}
#site-version {
    font-size: 12px;
    font-weight: 200;
    color: #BBB;
}
#bcorp-certification {
    font-size: 12px;
    font-weight: 200;
    color: #ffcc00;
}