<div id="mnd-home-container">
	<div id="mnd-sign-in">
		<span ng-if="!signedIn" ng-click="login()"><i class="fa fa-twitter"></i> Sign In</span>
		<span ng-if="signedIn" ng-click="logout()"><i class="fa fa-twitter"></i> Sign Out</span>
	</div>

	<div id="mnd-hidden-payoff">
		{{payoff.firstLine}}
		<br />
		{{payoff.secondLine}}
	</div>

	<div id="mnd-sprinkle-container">
		<div mnd-sprinkle autoplay="true" autoplay-delay="3" text="{{sprinkleText}}"></div>
	</div>

	<div id="mnd-home-bottom">
		<div id="mnd-home-logo">
			<div class="mnd-mondora-logo">
				<img src="http://mnd-website.s3.amazonaws.com/img/mondora-logo.png" alt="logo" />
			</div>
		</div>
		<div id="mnd-home-banner">
			<div id="mnd-home-banner-content">
				<h1 ng-bind-html="banner.title"></h1>
				<h2 ng-bind-html="banner.date"></h2>
				<h4 ng-bind-html="banner.text"></h4>
			</div>
			<div id="mnd-home-banner-arrow"></div>
		</div>
	</div>
</div>

<div id="mnd-video-background">
	<div class="mnd-video-overlay"></div>
	<video muted autoplay="1" loop="1" ng-src="{{videoSource}}" ng-attr-poster="{{videoPoster}}"> 
	</video>
	<img ng-src="{{videoPoster}}" />
</div>
