.pomodoro-page-container {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100;
	overflow: scroll;
}

.pomodoros {
	text-align: left;
}

.add-pomodoro {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 35px;
	color: #000;
	font-size: 30px;
	text-align: center;
}

#add-pomodoro-modal{
	width: 90%;
	max-width: 600px;
	text-align: center;
}

#add-pomodoro-modal .input-group {
	padding-left: 5%;
	padding-top: 15px;
	width: 90%;
}

.mnd-pomodoro-buttons button{
	font-size: 25px;
	display: inline-block;
}

.mnd-pomodoro-buttons button span{
	font-size: 15px;
	vertical-align: center;
}

.mnd-pomodoro-timer.running-pomodoro path, .mnd-pomodoro-timer.running-pomodoro circle{
	opacity: 0!important;

}

.running-pomodoro div{
	color: #000;
	margin-left: 100px;
}