<div class="pomodoro-page-container radial-background">
	<div class="modal-background" ng-if="showAddModal">
	<div id="add-pomodoro-modal" class="modal-dialog" ng-if="showAddModal">
		<div class="modal-content">
	    	<div class="modal-header">
				<h2>Add Pomodoro</h2>
			</div>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="TasK" mnd-user-input user-model="task" />
			</div>
			<div class="input-group">
				<textarea class="form-control" rows="4" placeholder="Description" mnd-user-input user-model="description"></textarea>
			</div>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Invite" mnd-user-input user-model="participant" />
				<span class="input-group-addon mnd-clickable">
				<i class="fa fa-plus-circle" ng-click="addParticipant()"></i>
				</span>
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-default yes" ng-click="addPomodoro();toggleAddModal();">
					Add
				</button>
				<button type="button" class="btn btn-default no" ng-click="toggleAddModal()">
					Close
				</button>
			</div>
		</div>
	</div>
	</div>
	<div class="mnd-pomodoro-header">
		<h2 class="personalHome-h2">
			Your Daily Plan
		</h2> 
		<div class="btn-group mnd-pomodoro-buttons">
		  	<button type="button" class="btn btn-default" ng-click="start()"><i class="fa fa-play"></i></button>
		  	<button type="button" class="btn btn-default" ng-click="pause()"><i class="fa fa-pause"></i></button>
		  	<button type="button" class="btn btn-default" ng-click="stop()"><i class="fa fa-stop"></i></button>
		  	<button type="button" class="btn btn-default" ng-click="toggleAddModal()"><span>Add Pomodoro</span></button>
		</div>
	</div>
		<div class="pomodoros col-sm-7 col-sm-offset-1">
			<a ng-repeat="pomodoro in pomodoros" ui-sref="pomodoroView({pomodoroId: pomodoro._id})">
				<div mnd-pomodoro-summary></div>
			</a>
		</div>
		<div class="col-sm-4">
			<h2>
				<b>Running task</b>
			</h2>
			<div mnd-pomodoro-timer class="running-pomodoro" size="200" pomodoro="pomodoro"></div>
			<div ng-repeat="participant in pomodoro.participants">
				<div class="mnd-inline-block" mnd-cig-image source="participant.pictureUrl" size="50"></div>
				<span>{{participant.name}}</span>
			</div>
			<br />
			<br />
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Invite" mnd-user-input user-model="participant" />
				<span class="input-group-addon mnd-clickable">
					<i class="fa fa-plus-circle" ng-click="addParticipant()"></i>
				</span>
			</div>
		</div> 
	</div>
</div>