<!-- Project delete modal -->
<div mnd-modal header="Delete project" open="modalStatus.deleteProject">
	<h4>
		Are you sure you want to delete project {{selectedProject.project.name}}?
	</h4>
	<button type="button" class="btn btn-default" ng-click="deleteProject()">
		Yes
	</button>
	<button type="button" class="btn btn-default" ng-click="modalStatus.deleteProject = false">
		No
	</button>
</div>

<div class="page-container">
	<br />
	<br />
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="project.name" mnd-enter="addProject()" placeholder="Add project" />
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="addProject()">Add</button>
				</span>
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="col-xs-6">
							ID
						</th>
						<th class="col-xs-5">
							Name
						</th>
						<th class="col-xs-1">
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="project in projects">
						<td>
							{{project._id}}
						</td>
						<td>
							{{project.name}}
						</td>
						<td class="text-center">
							<i class="fa fa-times mnd-clickable" ng-click="openDeleteModal(project)"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
