.post-title-image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.post-title-image img{
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%; 
}
.post-overlay{
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	background-color: #000;
	opacity: 0.2;
}

.mnd-mind-container {
	position: absolute;
	overflow: hidden;
	width: 100%;
	padding-left: 5px;
	height: 40%;
	overflow: scroll;
}

.post-top-buttons {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 200;
}

.post-header {
	position: relative;
	top: 65%;
}

.post-body {
	position: relative;
	top: 90%;
	font-size: 18px;
}

.post-title {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 50px;
	font-weight: bold;
}
.post-title.color-me-white {
	color: #ffffff;
}

.post-subtitle {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 30px;
	margin-top: -5px;
}
.post-subtitle.color-me-white {
	color: #fff;
}

.post-author {
	font-size: 18px;
	color: #aeaeac;
}

.post-author:hover {
	color: #aeaeac;
	text-decoration: none;
}

.post-body-bottom-spacer {
	height: 100px;
}
.post-scroll-to-content {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding-top: 30px;
	color: #ffcc00;	
	font-size: 60px;
	text-align: center;
}

//media queries
@media (max-width: 767px) {
	.post-title, .post-subtitle, .post-header {
		text-align: center !important;
	}
	.mnd-mind-container {
		top: 30%;
		height: 20%;
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
	}
	.post-header {
		top: 0%;
		height: 27%;
		overflow: hidden;
		background-color: rgba(0,0,0,0.3);
	}
	.post-title {
		font-size: 35px;
		font-weight: normal;
	}
	.post-subtitle {
		font-size: 20px;
		font-weight: lighter;
	}
	.post-author {
		display: none;
	}
}
