.post-title-image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;

}
.post-title-image img{
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%; 
}
.post-overlay{
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	background-color: #000;
	opacity: 0.2;
}

.mnd-mind-container {
	position: absolute;
	min-height: 40%;
	overflow: hidden;
	width: 100%;
	padding-left: 5px;
}

.post-top-buttons {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 200;
}

.post-header {
	position: relative;
	top: 70%;
}

.post-body {
	position: relative;
	top: 100%;
	font-size: 18px;
}

.post-title {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 50px;
	font-weight: bold;
}
.post-title.color-me-white {
	color: #ffffff;
}

.post-subtitle {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 30px;
}
.post-subtitle.color-me-white {
	color: #fff;
}

.post-author {
	color: #aeaeac;
}

.post-body-bottom-spacer {
	height: 100px;
}

//media queries
@media (max-width: 767px) {
	.post-title, .post-subtitle, .post-header {
		text-align: center !important;
	}
}
