.post-title-image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.post-title-image img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%; 
}
.post-overlay{
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	background-color: #000;
	opacity: 0.2;
}

.mnd-mind-container {
	position: absolute;
	width: 100%;
	padding-left: 5px;
	height: 40%;
	overflow: auto;
}

.post-top-buttons {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 200;
	div i{
		border-radius: 50%;
		background-color: rgba(255,255,255,0.4);
		padding: 10px;
		margin-left: 5px;
		font-size: 25px;
	}
	a, .btn {
		margin-bottom: 15px;
	}
	.liked {
		border: 2px solid #008000;
		color: #008000;
	}
	.post-likes {
		position: absolute;
		top: -12px;
		right: 42px;
		height: 27px;
		width: 27px;
		padding-bottom: 3px;
		background: #fc8600; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmM4NjAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDglIiBzdG9wLWNvbG9yPSIjZjI2NDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FmMzcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -ms-linear-gradient(-45deg,  #fc8600 0%,#f26400 48%,#af3700 100%); /* IE10+ */
		background: linear-gradient(135deg,  #fc8600 0%,#f26400 48%,#af3700 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8600', endColorstr='#af3700',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
		border-radius: 50%;
		border: 2px solid #fff;
		box-shadow:2px 2px 4px #414141;
		font-size: 15px;
		color: #fff;


		span {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			text-align: center;
		}
	}
	.color-me-white {
		border-color: #fff!important;
	}
	.open-share-buttons {
		position: absolute;
		right:0px;
		top: 40px;
		width: 100px;
		padding-left: 10px;
		margin-top: 20px;
		border-radius: 5px;
		background-color: rgba(0,0,0,0.6);
		box-shadow: 4px 4px 6px #000;
		color: #fff;
		i {
			border: none;
			margin: 0px;
			background-color: transparent;
		}
		&:before {
    		border: 10px solid transparent;
			border-bottom-color: rgba(0,0,0,0.6);
			content: '';
			display: block;
			height: 0;
			right: 12px;
			position: absolute;
			top: -20px;
			width: 0;
		}
	}
	@media (max-width: 767px) {
		display: none;
	}
}

.post-header {
	position: relative;
	top: 65%;
}

.post-body {
	position: relative;
	top: 90%;
	box-sizing: border-box;
	font-size: 18px;}

.post-title {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 40px;
	font-weight: 600;
	min-height: 40px;
}

.color-me-white {
	color: #ffffff;
}

.post-subtitle {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 30px;
	min-height: 30px;
	margin-top: -5px;
}

.post-author {
	font-size: 18px;
	color: #aeaeac;
}

.post-author:hover {
	color: #aeaeac;
	text-decoration: none;
}

.post-body-bottom-spacer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100px;
}
.post-scroll-to-content {
	display: none;
}

//media queries
@media (max-width: 767px) {
	.post-title, .post-subtitle, .post-header {
		text-align: center !important;
	}
	.mnd-mind-container {
		top: 30%;
		height: 80px;
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
	}
	.post-header {
		top: 0%;
		min-height: 100px;
		overflow: hidden;
		background-color: rgba(0,0,0,0.3);
	}
	.post-title {
		font-size: 35px;
		font-weight: normal;
	}
	.post-subtitle {
		font-size: 20px;
		font-weight: lighter;
	}
	.post-author {
		display: none;
	}
}
@media (max-width:767px) and (min-height:500px){
	.post-scroll-to-content {
		display: block;
		position: absolute;
		bottom: 0px;
		width: 100%;
		padding-top: 30px;
		color: #ffcc00;	
		font-size: 60px;
		text-align: center;
	}
}
