@import url("https://fonts.googleapis.com/css?family=Playfair&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

html {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-family: "Playfair", serif;
}

:root {
    --primary: rgb(255, 218, 3);

    --variant-black: rgb(44, 46, 48);
    --text-dark-gray: rgb(84, 86, 90);
    --border-gray: rgb(99, 115, 129);

    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --gray: rgb(245, 246, 246);
    --variant-lightgray: rgb(0, 0, 0, 0.04);
}
