@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i|Playfair+Display:400,400i,700,700i,900,900i&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
html {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Playfair Display", serif;
    color: var(--text-dark-black);
}

h2 {
    font-size: 30pt;
}

h3 {
    font-size: 28pt;
}

h4 {
    font-size: 24pt;
}

button {
    font-family: inherit;
    border: none;
    border-radius: 2px;
}

:root {
    --primary: rgb(255, 218, 3);

    --text-dark-black: rgb(33, 43, 54);
    --text-dark-gray: rgb(84, 86, 90);
    --text-gray: rgb(99, 115, 129);
    --text-light-gray: rgb(179, 178, 193);

    --background-light-gray: rgb(242, 242, 242);
    --background-dark-gray: rgb(32, 39, 47);

    --border-gray: rgb(99, 115, 129);
    --border-dark-gray: rgb(66, 73, 80);

    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --gray: rgb(215, 216, 216);
    --bob: #293441;

    --variant-black: rgb(44, 46, 48);
    --variant-lightgray: rgb(0, 0, 0, 0.04);
}
