#mnd-post-sprinkle-container {
	position: absolute;
	width: 620px;
	left: 50%;
	top: 45%;
	margin-left: -260px;
	z-index: 1;
}

.first-level-html-container .comment-bubble {
	color: #aeaeac;
	opacity: 0;
}

.first-level-html-container:hover .comment-bubble {
	opacity: 1;
}

.comment-bubble:hover {
	cursor: pointer;
	color: #5cb85c;
}

.comment-bubble-always-visible {
	cursor: pointer;
	color: #5cb85c;
}

.side-comment-container {
	position: absolute;
}

.comment-badge:hover {
	cursor: pointer;
	background: #5cb85c;
}

.read-time {
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	padding-right: 10px;
}

//media queries
@media (max-width: 767px) {
	.read-time {
		font-size: 15px;
		font-weight: normal;
	}
	#mnd-post-sprinkle-container {
	    width: 98%;
	    top: 60%;
	    margin-left: -49%; 
	}
}
