//////////////
// Sprinkle //
//////////////

#mnd-post-sprinkle-container {
	position: absolute;
	width: 620px;
	left: 50%;
	top: 40%;
	margin-left: -260px;
	z-index: 1;
	@media (max-width: 767px) {
	    width: 98%;
	    top: 60%;
	    margin-left: -49%; 
	}
}

.read-time {
	position: absolute;
	right: 10px;
	font-size: 25px;
	font-weight: 600;
	color: #fff;
	line-height: 25px;
	@media (max-width: 767px) {
		font-size: 15px;
		font-weight: normal;
	}
}

/////////////////////////////
// Paragraphs and comments //
/////////////////////////////

.first-level-html-container {
	box-sizing: border-box;

	.comment-bubble {
		color: #aeaeac;
		opacity: 0;
	}

	&:hover .comment-bubble {
		opacity: 1;
	}

	.col-xs-1 {
		padding: 0px;
	}
}

.comment-bubble {
	font-size: 25px;
}

.comment-bubble:hover {
	cursor: pointer;
	color: #5cb85c;
}

.close-comment-bar {
	text-align: right;
	font-size: 25px;
	cursor: pointer;

	i {
		color: #F78181;
	}

	i:hover {
		color: #FE2E2E;
	}
}

.side-comment-container {
	position: absolute;
	margin-top: -20px;
	@media (max-width: 767px) {
		position: relative;
		margin-top: 0px;
		margin-bottom: 20px;
		padding: 0 10px;
		border-radius: 10px;
		box-shadow:4px -4px 12px rgba(0,0,0,0.6);
	}
}

.comment-badge {
	font-size: 20px;
}
.comment-badge:hover {
	cursor: pointer;
	background: #5cb85c;
}

.hr-comment {
	margin: 10px 0;
}

.comment-warning {
	font-size: 80%;
	color: #A4A4A4;
}

.post-view-highlight {
	background: #5cb85c;
}

.comment-text {
	word-wrap: break-word;
}
