<!-- Post recommend modal -->
<div mnd-modal header="Recommend this post" open="modalStatus.recommend">
	<div ng-controller="PostRecommendModalController">
		<input type="text" class="form-control" placeholder="Recommend to" mnd-user-input user-model="to.user" />
		<br />
		<textarea class="form-control" rows="5" placeholder="Message" ng-model="message"></textarea>
		<br />
		<button type="button" class="btn btn-default" ng-click="recommend()">
			Recommend
		</button>
		<button type="button" class="btn btn-default" ng-click="modalStatus.recommend = false">
			Close
		</button>
	</div>
</div>

<!-- Share to channel modal -->
<div mnd-modal header="Share this post" open="modalStatus.shareToChannel">
	<div ng-controller="ShareToChannelModalController">
		<input type="text" class="form-control" placeholder="Share to" ng-model="channelName" />
		<br />
		<textarea class="form-control" rows="5" placeholder="Message" ng-model="message"></textarea>
		<br />
		<button type="button" class="btn btn-default" ng-click="shareToChannel()">
			Share
		</button>
		<button type="button" class="btn btn-default" ng-click="modalStatus.shareToChannel = false">
			Close
		</button>
	</div>
</div>

<div class="page-container">	

	<div class="post-top">
		<div class="mnd-full-image">
			<img ng-src="{{post.titleImageUrl}}" ng-if="titleImageIsDisplayed()" alt="Immagine principale" />
			<div class="mnd-image-overlay" ng-if="titleImageIsDisplayed()"></div>
		</div>

		<div class="post-top-buttons">
			<a ng-if="isAuthor()" ui-sref="postEdit({postId: post._id})" class="mnd-undecorated-a mnd-inline-block">
				<i class="fa fa-edit"></i>
			</a>
			<div class="mnd-inline-block">
				<i class="fa fa-bookmark mnd-clickable" ng-click="bookmark()" ng-class="{'bookmarked' : userBookmarkedPost()}"></i>
			</div>
			<div class="mnd-inline-block" ng-click="likePost()">
				<i class="fa fa-thumbs-up mnd-clickable" ng-class="{'liked': numberOfLikes()}"></i>
				<div class="post-likes" ng-show="numberOfLikes()"><span>{{post.likedBy.length}}</span></div>
			</div>
			<div class="mnd-inline-block">
				<i class="fa fa-share-alt mnd-clickable" ng-click="openShareButtons = !openShareButtons"></i> 
			</div>
			<div class="open-share-buttons" ng-if="openShareButtons">
				<i class="fa fa-facebook mnd-clickable" ng-click="shareOnFacebook()"></i>
				<i class="fa fa-twitter mnd-clickable" ng-click="shareOnTwitter()"></i> 
				<i class="fa fa-users mnd-clickable" ng-click="recommend()"></i> 
				<i class="fa fa-slack mnd-clickable" ng-click="shareToChannel()"></i> 
			</div>
		</div>

		<div id="mnd-post-sprinkle-container">
			<div mnd-sprinkle html="{{post.body}}" time="estimateReadingTime"></div>
			<div class="pull-right read-time">Reading time {{estimateReadingTime}} min</div>
		</div>

		<div class="wrap-mindmap">
			<div class="mnd-mind-container">
				<div mnd-mind-map map="post.map" mnd-center></div>
			</div>
		</div>

		<div class="post-header">
			<div class="col-sm-8 col-sm-offset-2">
				<h1 ng-bind-html="post.title" class="post-title" ng-class="{'color-me-white': titleImageIsDisplayed()}"></h1>
				<h2 ng-bind-html="post.subtitle" class="post-subtitle" ng-class="{'color-me-white': titleImageIsDisplayed()}"></h2>
				<a class="post-author" ng-if="!post.repost" ng-repeat="author in post.authors" ui-sref="user({userId: author.userId})">
					<div mnd-cig-image source="author.pictureUrl" size="40" class="mnd-inline-block mnd-valign-middle"></div>
					&nbsp;&nbsp;Author {{author.name || author.screenName}}
					<br />
					<div class="mnd-vsp-4"></div>
				</a>
				<a class="post-author" ng-if="post.repost" href="{{post.original.url}}">
					By {{post.original.author}}, reposted by {{post.authors.0.name || post.author.0.screenName}} 
				</a>
			</div>
		</div>

		<div class="post-scroll-to-content" ng-click="gotoCategory('post-body')"><i class="fa fa-chevron-down"></i></div>
	</div>

	<div class="post-body">
		<div class="first-level-html-container" ng-repeat="child in bodyChildren() track by $index">
			<div class="col-sm-6 col-xs-11" ng-class="{'col-sm-offset-2': !commentBarIsOpen, 'col-sm-offset-1': commentBarIsOpen}">
				<div class="simplebox" post-view-readonly-editor mnd-form-injector="post.formSchema"></div>
			</div>
			<div class="col-sm-1 col-xs-1">
				<i class="fa fa-comment comment-bubble" ng-if="!paragraphHasComments($index)" ng-click="closeCommentBar(); openCommentBarAt($index, $event)"></i>
				<span class="badge comment-badge" ng-if="paragraphHasComments($index)" ng-click="closeCommentBar(); openCommentBarAt($index, $event)">
					{{paragraphCommentsLength($index)}}
				</span>
			</div>
			<div ng-class="{'hidden': !commentBarIsOpen}" class="col-sm-4 col-xs-12">
				<div ng-class="{hidden: !commentBarIsOpenAt($index)}" class="side-comment-container">

					<div class="row">
						<div class="col-sm-10 col-xs-12 close-comment-bar">
							<i class="fa fa-times-circle" ng-click="closeCommentBar()"></i>
						</div>
					</div>

					<div class="row" ng-repeat="comment in post.comments | filterCommentsByParagraph:$index | filterCommentsByUser:user:isAuthor()">
						<div class="col-sm-1 col-xs-2">
							<div mnd-cig-image source="comment.userPictureUrl" size="36" class="pull-right"></div>
						</div>
						<div class="col-xs-9 mnd-top-most" ng-mouseenter="setHighlight(comment)" ng-mouseleave="clearHighlight(comment)">
							<p class="comment-text">
								<b>{{comment.userScreenName}}</b>
								<br />
								{{comment.text}}
								<small class="mnd-block text-right">
									<a class="mnd-clickable" ng-if="ownsComment(comment) && commentIsNotTooOld(comment)" ng-click="deleteComment(comment)">Delete</a>
									<a class="mnd-clickable" ng-if="isAuthor() && !comment.approved" ng-click="publishComment(comment)">Publish</a>
								</small>
							</p>
							<hr />
						</div>
					</div>

					<div class="row">
						<div ng-if="user" class="col-sm-1 col-xs-2">
							<div mnd-cig-image source="user.profile.pictureUrl" size="36" class="pull-right"></div>
						</div>
						<div ng-if="user" class="col-xs-9 mnd-top-most">
							<p>
								<b>{{user.profile.screenName}}</b>
							</p>
							<textarea ng-model="comment.text" class="form-control" placeholder="Leave a comment" rows="3"></textarea>
							<p class="text-right">
								<small>
									<a class="mnd-clickable" ng-click="saveCommentAt($index)">Comment</a>
								</small>
							</p>
							<hr class="hr-comment"/>
							<p class="comment-warning">
								<small>
									<i>
										This note is only visible to you and the author,
										unless they choose to make it public.
									</i>
								</small>
							</p>
						</div>
						<div ng-if="!user" class="col-sm-8">
							<a class="mnd-undecorated-a mnd-clickable" ng-click="login()">
								<i class="fa fa-question-circle fa-32"></i>
								<br />
								Login to leave a comment
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-sm-12 col-xs-12">
			<br />
			<br />
			<br />
			<br />
		</div>
	</div>
</div>
