<img class="post-title-image" ng-src="{{post.titleImageSource}}" ng-if="titleImageIsDisplayed" alt="Immagine principale" />

<div ng-if="isAuthor()" class="post-top-buttons">
	<a ui-sref="postEdit({postId: post._id})" class="btn btn-default">Modifica</a>
</div>

<div id="mnd-post-sprinkle-container">
	<div mnd-sprinkle autoplay="true" autoplay-delay="3" text="{{sprinklePostText}}"></div>
</div>

<div class="post-header">
	<div class="col-sm-8 col-sm-offset-2">
		<h1 ng-bind-html="post.title" class="post-title" ng-class="{'color-me-white': titleImageIsDisplayed}"></h1>
		<h2 ng-bind-html="post.subtitle" class="post-subtitle" ng-class="{'color-me-white': titleImageIsDisplayed}"></h2>
		<div class="post-author" ng-repeat="author in post.authors">
			<img class="img-circle" ng-src="{{author.imageUrl}}" />
			&nbsp;&nbsp;by {{author.screenName}}
		</div>
	</div>
</div>

<div class="post-body">
	<div class="col-sm-8 col-sm-offset-2">
		<p ng-bind-html="post.body"></p>
		<div class="post-body-bottom-spacer"></div>
	</div>
</div>
