.post-page-container {
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

#mnd-post-sprinkle-container {
	position: absolute;
	width: 620px;
	left: 50%;
	top: 40%;
	margin-left: -260px;
	z-index: 1;
}

.first-level-html-container {
	box-sizing: border-box;
}

.first-level-html-container .comment-bubble {
	color: #aeaeac;
	opacity: 0;
}

.first-level-html-container:hover .comment-bubble {
	opacity: 1;
}

.comment-bubble {
	font-size: 25px;
}

.comment-bubble:hover {
	cursor: pointer;
	color: #5cb85c;
}
.badge {
	font-size: 20px;
}

.close-comment-bar {
	text-align: right;
	font-size: 25px;
}

.close-comment-bar i {
	color: #F78181;
}

.close-comment-bar i:hover{
	color: #FE2E2E;
}

.side-comment-container {
	position: absolute;
	margin-top: -20px;
}

.comment-badge:hover {
	cursor: pointer;
	background: #5cb85c;
}

.read-time {
	position: absolute;
	right: 10px;
	font-size: 25px;
	font-weight: 600;
	color: #fff;
	line-height: 25px;
}

.comment-author {
	display: block;
	font-weight: bold;
}

.hr-comment {
	margin: 10px 0;
}

.comment-warning {
	font-size: 80%;
	color: #A4A4A4;
}

.post-view-highlight {
	background: #5cb85c;
}

.simplebox {
	text-align: justify;
}

.simplebox b{
	font-weight: 600;
}

.comment-author {
	clear: left;
}

.mnd-top-most p{
	word-wrap: break-word;
}


//media queries
@media (max-width: 767px) {
	.read-time {
		font-size: 15px;
		font-weight: normal;
	}
	#mnd-post-sprinkle-container {
	    width: 98%;
	    top: 60%;
	    margin-left: -49%; 
	}
	.p-mobile {
		width: 88%;
	}
	.p-mobile, .comment-pop {
		display: inline-block;
	}
	.comment-pop {
		width: 11%;
		vertical-align: top;
		padding-top: 20px;
		padding-right: 10px;
	}
	.mobile-comment {
		position: absolute;
		top: 0px;
		z-index: 2000;
	}
}
