// Payoff
#mnd-static-hidden-payoff {
	color: #fff;
	padding-top: 30px;
	font-size: 80px;
	font-style: bold;
	text-align: center;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 1s ease-in;
	z-index: 10;
}
#mnd-static-hidden-payoff:hover {
	opacity: 0.5;
}
@media (max-width: 767px) {
  #mnd-static-hidden-payoff{
    display: none;
  }
}

// Sprinkle
#mnd-static-sprinkle-container {
	position: absolute;
	width: 620px;
	left: 50%;
	top: 50%;
	margin-left: -310px;
	margin-top: -50px;
	z-index: 1;
}
@media (max-width: 767px) {
  #mnd-static-sprinkle-container {
    width: 98%;
    top: 35%;
    margin-left: -49%;
  }
}
