.single-notification {
	padding-top: 10px;
	min-height: 60px;
	vertical-align: middle;
	border-bottom: 1px solid rgba(171, 173, 173, 0.3);
	a {
		display: block;
	}
	span {
		display: inline-block;
	}
	.light-hover {
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
	.notification-content {
		width: calc(100% - 50px);
	}
	.notification-image {
		width: 45px;
		padding-left: 10px;
		font-size: 30px;
	}
}