<div class="single-notification" mnd-color-me="{{notification.type}}" fg="true">
	<div class="notification-image mnd-inline-block">
		<span ng-if="notification.type === 'mentionInComment' || notification.type === 'commentToPost'"><i class="fa fa-comment"></i></span>
		<span ng-if="notification.type === 'newPost'"><i class="fa fa-file-text-o"></i></span>
		<span ng-if="notification.type === 'postRecommendation'"><i class="fa fa-file-text-o"></i></span>
		<span ng-if="notification.type === 'channelRecommendation'"><i class="fa fa-slack"></i></span>
		<span ng-if="notification.type === 'newEntryInChannel'"><i class="fa fa-slack"></i></span>
		<span ng-if="notification.type === 'taskAdded'"><i class="fa fa-tasks"></i></span>
	</div>
	
	<div class="notification-content mnd-inline-block">
		<a ui-sref="postView({postId: notification.details.postId})" ng-if="notification.type === 'mentionInComment'" class="mnd-undecorated-a">
			<span class="notification-text"><b>{{notification.details.from.name}}</b> mentioned you in a comment</span>
		</a>
		
		<a ui-sref="postView({postId: notification.details.postId})" ng-if="notification.type === 'commentToPost'" class="mnd-undecorated-a">
			<span class="notification-text">{{notification.details.from.name}} commented on your post</span>
		</a>

		<a ui-sref="postView({postId: notification.details.postId})" ng-if="notification.type === 'newPost'" class="mnd-undecorated-a">
			<span class="notification-text">{{notification.details.from.name}} published a new post</span>
		</a>

		<a ui-sref="postView({postId: notification.details.postId})" ng-if="notification.type === 'postRecommendation'" class="mnd-undecorated-a">
			<span class="notification-text">{{notification.details.from.name}} recommended you a post</span>
		</a>

		<a ui-sref="channelView({channelId: notification.details.channelId})" ng-if="notification.type === 'newEntryInChannel'" class="mnd-undecorated-a">
			<span class="notification-text">New entry in #{{notification.details.channelName}}</span>
		</a>

		<a ui-sref="channelView({channelId: notification.details.channelId})" ng-if="notification.type === 'channelRecommendation'" class="mnd-undecorated-a">
			<span class="notification-text">{{notification.details.from.name}} recommended you a channel</span>
		</a>

		<a ui-sref="today" ng-if="notification.type === 'taskAdded'" class="mnd-undecorated-a">
			<span class="notification-text">{{notification.details.from.name}} added a task to your backlog</span>
		</a>

		<span class="mnd-width-20 pull-right text-right">
			<i class="fa fa-times mnd-clickable light-hover" ng-click="dismiss(notification._id)"></i>
		</span>

		<span>
			{{notification.date | relativeDate}}
		</span>
	</div>

</div>
