$mnd-yellow: #ffcc00;
$mnd-grey: #5e5f5f;

.sprinkle-container {
	position: relative;
	user-select: none;
}



////////////////////
// Result section //
////////////////////

.sprinkle-result {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
    height: 100px;
    color: #fff;
    font-size: 50px;
    font-family: "Cutive Mono", monospace;
    background: rgba(0,0,0,0.4);
    border-top: 3px solid $mnd-yellow;
    border-bottom: 3px solid $mnd-yellow;
    z-index: 0;
}
.sprinkle-result span {
	display: inline-block;
	margin: 0px;
	padding-top: 10px;
	z-index: 10;
}
.sprinkle-left, .sprinkle-pivot, .sprinkle-right {
	height: 94px;
}
.sprinkle-left {
	float: left;
	text-align: right;
	width: 49%;
}
.sprinkle-pivot {
	position: relative;
	float: left;
    color: $mnd-yellow;
}
.sprinkle-right {
	float: left;
}



/////////////////
// Center line //
/////////////////

.sprinkle-center-line-top {
	position: absolute;
	top: 0px;
	left: 49%;
	width: 2px;
	height: 25%;
	background: white;
	opacity: 0.4;
	z-index: -11;
}
.sprinkle-center-line-bottom {
	position: absolute;
	bottom: 0px;
	left: 49%;
	width: 2px;
	height: 25%;
	background: white;
	opacity: 0.4;
	z-index: -11;
}



/////////////////
// Control bar //
/////////////////

.sprinkle-control-bar {
	position: relative;
	left: 0px;
	background-color: $mnd-yellow;
	height: 80px;
	width: 100%;
	padding: 10px 0;
}
.sprinkle-control-bar-left {
	height: 60px;
	width: 30%;
	padding-left:10px;
}
.sprinkle-control-bar-right {
	height: 60px;
	width: 69%;
	text-align: right;
	padding-right:10px;
}
.sprinkle-control-bar-right, .sprinkle-control-bar-left {
	display: inline-block;
}
.sprinkle-control-btn {
	color: $mnd-grey;
	padding-left: 5px;
	display: inline-block;
	font-size: 40px;
	border: none;
	text-align: center;
}
.sprinkle-control-wpm {
	color: $mnd-grey;
	padding:0 15px;
	display: inline-block;
	font-size: 40px;
	border: none;
	text-align: center;
}
.sprinkle-control-btn:hover{
	cursor: pointer;
}

@media (max-width: 767px){
  .sprinkle-control-bar {
    display: none;
  }
}
