.channel-page-container {
	position: relative;
	top: 0px;
	left: 0px;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.channel-page-container button {
	border: 2px solid #fff;
	border-radius: 20px;
	border-color: #fff;
	background-color: rgba(0,0,0,0.3);
	color: #fff;
	font-size: 20px;
}


.channel-page-content {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: auto;
}

.channel-left-side {
	padding: 0px;
}

.channel-header {
	position: relative;
	min-height: 50%;
	overflow: hidden;
}

.channel-title-group {
	position: relative;
	width: 100%;
	padding-top: 5%;
}

.channel-title{
	font-size: 45px;
	font-weight: 600;
}

.channel-subtitle {
	font-size: 30px;
}

.channel-text-body {
	padding-top: 20px;
	font-size: 18px;
	color: #000;
}

.channel-right-side {
	position: relative;
	overflow: hidden;
	padding: 0px;
}

.channel-add-entry {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.channel-add-entry{
	font-weight: bold;
}

.channel-entry-single {
	padding-bottom: 15px;
}

.channel-entry-single h4,
.channel-entry-single .h4 {
	font-weight: bold;
}

.channel-entry-single div p {
	font-size: 15px;
}

.channel-entry-single img {
	width: 100%;
	height: auto;
}

#channel-entries-box {
	position: relative;
	top: 0px;
	min-height: 90%;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.6);
	overflow: hidden;
}

.channel-entries-list {
	position: relative;
	padding-top: 30px;
	padding-right: 5px;
	padding-bottom: 60px;
	overflow: hidden;
	overflow-y: auto;
}

.channel-entry-avatar {
	width: 100%;
	text-align: center;
}

.channel-image-upload-progressbar,
.channel-image-upload-progressbar *,
.entry-file-upload-progressbar,
.entry-file-upload-progressbar * {
	height: 10px;
}

.channel-image-upload-progressbar .progress-bar,
.entry-file-upload-progressbar .progress-bar {
	background-color: #aeaeac;
}

.channel-main-image {	
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	height: 100%;
	z-index: -10;
}

.channel-main-image img{
	position: absolute;
	top: 0px;
	min-height: 100%;
	min-width: 100%;
	z-index: -1;
}
.channel-overlay{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-image: url('https://s3.amazonaws.com/mnd-website/img/raster-dark.png');
	background-repeat: repeat;
}

.channel-top-buttons {
	position: absolute;
	padding-left: 10px;
	padding-top: 5px;
	height: 50px;
	z-index: 100;
}

.entry-title {
	word-break: break-all;
}

.entry-icon {
	font-size: 35px;
	padding-left: 20px;
}

.remove-entry {
	position: absolute;
	right: 0px;
	color: red;
	font-size: 20px;
	cursor: pointer;
}

.delete-entry-modal .modal-background {
	background-color: rgba(0,0,0,0.2)!important;
	border-radius: 10px;
}

.thin-border {
	border: 1px solid rgba(0,0,0,0.2);
}

.padding-top-10 {
	padding-top: 10px;
}

.padding-top-20 {
	padding-top: 20px;
}

@media (max-width: 767px){
	.channel-page-content {
		padding-bottom: 30px;
	}

	.channel-title, .channel-subtitle {
		text-align: center;
	}
}
