.channel-page-container {
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

.channel-left-side {
	height: 100%;
	padding: 0px;
	overflow: hidden;
	overflow-y: scroll;
}

.channel-header {
	position: relative;
	min-height: 50%;
	overflow: hidden;
}

.channel-title-group {
	position: absolute;
	bottom: 10px;
}

.channel-title{
	font-size: 45px;
	font-weight: 600;
}

.channel-subtitle {
	font-size: 30px;
}

.channel-text-body {
	padding-top: 20px;
	font-size: 18px;
}

.channel-right-side {
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;
	background-color: #fff;
}

.channel-add-entry {
	position: relative;
	padding: 50px;
	text-align: center;
}

.channel-add-entry button{
	font-weight: bold;
}

.channel-entry {
	padding-bottom: 20px;
}

.channel-image-upload-progressbar,
.channel-image-upload-progressbar *,
.entry-file-upload-progressbar,
.entry-file-upload-progressbar * {
	height: 10px;
}

.channel-image-upload-progressbar .progress-bar,
.entry-file-upload-progressbar .progress-bar {
	background-color: #aeaeac;
}

.channel-main-image {
	position: absolute;
	box-sizing: border-box;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.channel-main-image img{
	min-height: 100%;
	width: 100%;
}

.channel-top-buttons {
	position: absolute;
	z-index: 100;
}

.entry-title {
	word-break: break-all;
}
