.channel-left-side {
	width: calc(70% - 70px);
	height: 100%;
	position: absolute;
	top: 0px;
	left: 100px;
	background: lighten(#ff0000, 20%);
}

.channel-right-side {
	width: calc(30% - 30px);
	height: 100%;
	position: absolute;
	top: 0px;
	left: calc(70% + 30px);
	background: lighten(#00ff00, 20%);
}

.channel-image-upload-progressbar,
.channel-image-upload-progressbar *,
.entry-file-upload-progressbar,
.entry-file-upload-progressbar * {
	height: 10px;
}

.channel-image-upload-progressbar .progress-bar,
.entry-file-upload-progressbar .progress-bar {
	background-color: #aeaeac;
}

.channel-main-image {
	position: absolute;
	width: 100%;
}
