<div class="inbox-page-container radial-background">
	<div class="col-sm-8 col-sm-offset-2">
		<table class="table table-striped">
			<thead>
				<tr>
					<th ng-click="">
						From
					</th>
					<th>
						Subject
					</th>
					<th>
						Body
					</th>
					<th>
						Date
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="notification in notifications">
					<td>{{notification.from}}</td>
					<td>{{notification.subject}}</td>
					<td>{{notification.body}}</td>
					<td>{{notification.date | date}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
