#post-edit-image-upload i {
	color: #aeaeac;
	font-size: 70px;
	cursor: pointer;
}

#post-edit-image-upload-progressbar * {
	height: 10px;
}

#post-edit-image-upload-progressbar .progress-bar {
	background-color: #aeaeac;
}

#post-edit-image-upload-abort i {
	position: relative;
	top: -6px;
	color: #aeaeac;
	cursor: pointer;
}
