<img class="post-title-image" ng-src="{{post.titleImageSource}}" ng-if="titleImageIsDisplayed" alt="Immagine principale" />

<div class="post-top-buttons">
	<div class="col-sm-12">
		<div class="pull-right">
			<button type="button" class="btn btn-default" ng-click="deletePost()">
				Elimina
			</button>
			<button type="button" class="btn btn-default" ng-click="publishPost()" ng-if="!post.published">
				Pubblica
			</button>
			<button type="button" class="btn btn-default" ng-click="unpublishPost()" ng-if="post.published">
				Rendi privato
			</button>
		</div>
	</div>
</div>

<div class="post-header">
	<div class="col-sm-2 col-sm-offset-2" id="post-edit-image-upload">
		<input type="file" ng-file-select="onFileSelect($files)" class="hidden" />
		<i class="fa fa-picture-o" ng-click="clickFileInput()"></i>
	</div>
	<div class="col-sm-5" id="post-edit-image-upload-progressbar">
		<br />
		<br />
		<span ng-show="isUploading">
			<progressbar value="uploadProgress"></progressbar>
		</span>
	</div>
	<div class="col-sm-1" id="post-edit-image-upload-abort">
		<br />
		<br />
		<i class="fa fa-times" ng-show="isUploading" ng-click="abortUpload()"></i>
	</div>
	<div class="col-sm-8 col-sm-offset-2">
		<h1 class="simplebox post-title" ng-class="{'color-me-white': titleImageIsDisplayed}" id="postTitleEditor"></h1>
		<h2 class="simplebox post-subtitle" ng-class="{'color-me-white': titleImageIsDisplayed}" id="postSubtitleEditor"></h2>
	</div>
</div>

<div class="post-body">
	<div class="col-sm-8 col-sm-offset-2">
		<p class="simplebox" id="postBodyEditor"></p>
	</div>
</div>

<div class="post-end-spacer"></div>
