<!-- Post deletion modal -->
<div class="modal-background" ng-if="showDelete">
	<div id="delete-post-modal" class="modal-dialog">
		<div class="modal-content">
	    	<div class="modal-header">
				Are you sure you want to delete this post?
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-default yes" ng-click="deletePost()">
					Yes
				</button>
				<button type="button" class="btn btn-default no" ng-click="toggleDelete()">
					No
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Settings editor modal -->
<div class="modal-background" ng-if="showSettingsEditor">
	<div class="modal-dialog">
		<div class="modal-content">
	    	<div class="modal-header">
				<span class="h3">Settings</span>
			</div>
			<div class="modal-body">

				<div tabset justified="true">

					<div tab heading="Permissions">

						<br />
						<div>
							<h4><b>Status</b></h4>
							<div class="row">
								<div class="col-sm-6">
									<label class="radio-inline">
										<input type="radio" name="publishedOrUnpublished" ng-model="post.published" ng-value="true" /> Published
									</label>
								</div>
								<div class="col-sm-6">
									<label class="radio-inline">
										<input type="radio" name="publishedOrUnpublished" ng-model="post.published" ng-value="false" /> Unpublished
									</label>
								</div>
							</div>
						</div>

						<br />
						<div mnd-permissions-editor permissions="post.permissions"></div>

					</div>

					<div tab heading="Authors" ng-controller="PostAuthorsController">

						<div>
							<br />
							<h4><b>Attribution</b></h4>
							<div class="row">
								<div class="col-sm-6">
									<label class="radio-inline">
										<input type="radio" name="originalOrRepost" ng-model="post.repost" ng-value="false" /> Own
									</label>
								</div>
								<div class="col-sm-6">
									<label class="radio-inline">
										<input type="radio" name="originalOrRepost" ng-model="post.repost" ng-value="true" /> Repost
									</label>
								</div>
							</div>
						</div>

						<div ng-if="post.repost">
							<br />
							<h4><b>Original post</b></h4>
							<div class="form-group">
								<label>Author</label>
								<input type="text" class="form-control" ng-model="post.original.author">
							</div>
							<div class="form-group">
								<label>Url</label>
								<input type="text" class="form-control" ng-model="post.original.url">
							</div>
						</div>

						<div>
							<br />
							<h4><b>Authors</b></h4>
							<div class="participant-list" ng-repeat="author in post.authors">
								<div class="mnd-inline-block mnd-valign-middle" mnd-cig-image source="author.pictureUrl" size="30"></div>
								<span>{{author.name}}</span>
								<span class="pull-right mnd-clickable" ng-click="deleteAuthor($index)">
									<i class="fa fa-times-circle"></i>
								</span>
							</div>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Add member" mnd-user-input user-model="author.model" />
								<span class="input-group-addon mnd-clickable" ng-click="addAuthor()">
									<i class="fa fa-plus-circle"></i>
								</span>
							</div>
						</div>

					</div>

				</div>

				<br />
				<div class="text-right">
					<button type="button" class="btn btn-default" ng-click="toggleSettingsEditor()">
						Close
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="post-cant-edit" ng-show="isMobile">Content not accessible from mobile devices.</div> 
<div class="post-title-image" ng-show="!isMobile">
	<img ng-src="{{post.titleImageUrl}}" ng-if="titleImageIsDisplayed()" alt="Immagine principale" />
</div>

<div class="post-top-buttons" ng-if="isAuthor()" ng-show="!isMobile">
	<button type="button" class="btn btn-default" ng-click="toggleDelete()" ng-if="isOwner() && !showDelete">
		Delete
	</button>
	<button type="button" class="btn btn-default" ng-click="toggleSettingsEditor()">
		Settings
	</button>
	<a ui-sref="postView({postId: post._id})" class="btn btn-default">
		Preview
	</a>
</div>

<div class="mnd-mind-container grey-border" ng-class="{'black-connections': !titleImageIsDisplayed()}" ng-show="!isMobile" ng-keyup="processMap($event)">
	<div mnd-mind-map map="post.map" edit="true"></div>
</div>

<div class="post-header" ng-show="!isMobile">
	<div class="col-sm-2 col-sm-offset-2" id="post-edit-image-upload">
		<i class="fa fa-picture-o" mnd-s3-file-upload file-type="image" after-upload="afterUploadTitleImage" is-uploading="isUploadingTitleImage" upload-progress="uploadProgressTitleImage"></i>
	</div>
	<div class="col-sm-5" id="post-edit-image-upload-progressbar">
		<br />
		<br />
		<span ng-show="isUploadingTitleImage">
			<div progressbar value="uploadProgressTitleImage"></div>
		</span>
	</div>
	<div class="col-sm-1" id="post-edit-image-upload-abort">
		<br />
		<br />
		<i class="fa fa-times" ng-show="isUploadingTitleImage" ng-click="abortUpload('titleImage')"></i>
	</div>
	<div class="col-sm-8 col-sm-offset-2">
		<h1
			class="simplebox post-title"
			ng-class="{'color-me-white': titleImageIsDisplayed()}"
			mnd-medium-editor
			content="post.title"
			options="titleEditorOptions">
		</h1>
		<h2
			class="simplebox post-subtitle"
			ng-class="{'color-me-white': titleImageIsDisplayed()}"
			mnd-medium-editor
			content="post.subtitle"
			options="subtitleEditorOptions">
		</h2>
	</div>
</div>

<div class="post-body" ng-show="!isMobile">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="simplebox" mnd-medium-editor content="post.body" options="bodyEditorOptions"></div>
	</div>
</div>
