// Colours
$mnd-yellow: #ffcc00;
$mnd-grey: #5e5f5f;
$mnd-light-grey: #abadad;

//page Css
.personal-home-container {
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}

.personalHomeApp {
	display: inline-block;
	height: 100px;
	width: 100px;
	padding-top: 20px;
	background: #ffcc00;
	text-align: center;
	font-size: 40px;
	border-radius: 25px;
	box-shadow:4px 4px 6px #414141;
	color: $mnd-grey;
}
.personalHomeApp:hover {
	color: $mnd-grey;
}
.personalHome-h2{
	text-align: center;
	border-bottom: solid 1px $mnd-light-grey;
	box-shadow:0px 4px 4px -3px $mnd-light-grey;
}
.app-box {
	position: relative;
	diaply: inline-block;
	float: left;
	padding: 10px;
}

.notification {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 35px;
	height: 35px;
	padding: 3px;
	background: #fc8600; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmM4NjAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDglIiBzdG9wLWNvbG9yPSIjZjI2NDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FmMzcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -ms-linear-gradient(-45deg,  #fc8600 0%,#f26400 48%,#af3700 100%); /* IE10+ */
	background: linear-gradient(135deg,  #fc8600 0%,#f26400 48%,#af3700 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8600', endColorstr='#af3700',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow:2px 2px 4px #414141;
	font-size: 17px;
	color: #fff;
	text-align: center;
}

@media (max-width: 767px){
	.app-box {
		width: 33%;
	}

	.notification {
		left: 90px;
	}
}