// Colours
$mnd-yellow: #ffcc00;
$mnd-grey: #5e5f5f;
$mnd-light-grey: #abadad;

//page Css
.personal-home-container {
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}

.app-box {
	display: inline-block;
	margin: 5px;
	position: relative;
	height: 50px;
	width: 50px;
	border-radius: 10px;
	text-align: center;
	font-size: 20px;
	color: $mnd-grey;
	box-shadow: 4px 4px 6px #414141;
	background: #ffcc00;
}
.app-box:hover {
	color: $mnd-light-grey;
	text-decoration: none;
}

.app-box i {
	display: table-cell;
	vertical-align: middle;
	height: inherit;
	width: inherit;
}

@media (max-width: 767px){
	.app-box {
		width: 33%;
	}
}
